@model IEnumerable<EcdsApp.Models.Message>
@{
	ViewData["Title"] = "All Feedbacks";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.txt-justify{
		text-align:justify;
	}
	.msg-box{
		width:20%;
		text-align:justify;
	}
	.dtr-data{
		word-wrap:break-word;
		max-width:200px;
	}
	.msg-red{
		background:red;
		color:white;
	}
	.msg-yellow{
		background:yellow;
		color:black;
	}
	.msg-green{
		background:green;
		color:white;
	}
	.msg-item{
		max-width:150px;
		border-radius:30px;
		text-align:center;
		font-weight:600;
	}
</style>
<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-center align-items-center">
							<h4 class="display-6 mb-0 fs-4">List of Feedbacks</h4>							
						</div>						
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="table-responsive mt-2">
							<!--Special Buttons-->
							@*<div class="col-12 d-flex justify-content-center justify-content-md-end align-items-center my-3">

								<!--First Dropdown-->
								<div class="dropdown me-3">
									<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										No. of Rows <i class="bx bxs-down-arrow pt-1"></i>
									</button>
									<ul class="dropdown-menu">
										<li class="my-2">
											<span onclick="LoadData(10)">Load 10 rows</span>
										</li>
										<li class="my-2">
											<span onclick="LoadData(25)">Load 25 rows</span>
										</li>
										<li class="my-2">
											<span onclick="LoadData(50)">Load 50 rows</span>
										</li>
										@* <li class="my-2">
											<span onclick="LoadFullData()">All rows</span>
											</li>*@
											@*
									</ul>
								</div>
								<!--End First Dropdown-->
								<!--Second Dropdown-->
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Export Columns <i class="bx bxs-down-arrow pt-1"></i>
									</button>
									<ul class="dropdown-menu">
										<li>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" checked>
												<label class="form-check-label" for="flexCheckChecked">
													Division Geo Code
												</label>
											</div>
										</li>
										<li>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" checked>
												<label class="form-check-label" for="flexCheckChecked">
													Division Name
												</label>
											</div>
										</li>
										<li>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" checked>
												<label class="form-check-label" for="flexCheckChecked">
													Division Name Bangla
												</label>
											</div>
										</li>
										<li>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" checked>
												<label class="form-check-label" for="flexCheckChecked">
													Sorting Order
												</label>
											</div>
										</li>
									</ul>
								</div>
								<!--End Second Dropdown-->
							</div>*@

							<!--Special Buttons End-->
							<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
								<thead>
									 <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FullName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            Feedback
                                        </th>
										 <th>
                                            Feedback Status
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </th>
                                    </tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										string colorClass = "";
										if (item.Status.Id == 1)
										{
											colorClass = "msg-red";
										}
										else if (item.Status.Id == 2)
										{
											colorClass = "msg-yellow";
										}
										else if(item.Status.Id == 3)
										{
											colorClass = "msg-green";
										}
										
									
										<tr>
                                            <td class="d-flex justify-content-start align-items-center">
                                                <a class="mx-2" asp-action="Reply" asp-route-id="@item.Id"><i style="font-size:24px;" role="button" class="text-primary bx bx-message-rounded-dots" data-bs-toggle="tooltip" data-bs-placement="top" title="Reply the feedback"></i></a>
												<i role="button" class="text-primary far fa-eye font-size-20" onclick="DynamicModalDisplay(@item.Id)" data-bs-toggle="tooltip" data-bs-placement="top" title="View the feedback"></i>                                              
                                            </td>
                                            <td data-field="id">
                                                @Html.DisplayFor(modelItem => item.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td class="msg-box">
                                                @Html.DisplayFor(modelItem => item.Msg)
                                            </td>
											<td>
												<div class="msg-item px-4 py-1 @colorClass">@Html.Raw(item.Status.MessageStatus)</div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                        </tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Dynamic Modal-->
<div id="dynamic-modal"></div>

@section Scripts{
	<script type="text/javascript">
	let tableProps={
		//dom: 'Bfrtip',
		processing: true,
		filter:true,
		paging:true,
		fixedHeader: true,
		scrollY:true
	}
	let table=$("#datatable-buttons").DataTable(tableProps)

	const DynamicModalDisplay=(id)=>{
		$.ajax({
            type: "GET",
            url: '@Url.Action("MessageWithReply")',
			dataType:"json",
			data: {id:id},
            success: function(obj) {
				console.log(obj)
				let content=`<div class="modal fade" id="msgModal" tabindex="-1" >
				  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title">Feedback</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  </div>
					  <div class="modal-body">									
						<div class="col-12 col-sm-10 col-lg-8 d-flex justify-content-center align-items-center">
							<div class="p-4">
								<div class="d-flex justify-content-start align-items-center my-2">
									<h6 class="fw-bold me-5">Name:</h6>
									<h6 class="fw-light">${obj.message.fullName}</h6>
								</div>
								<div class="d-flex justify-content-start align-items-center my-2">
									<h6 class="fw-bold me-5">Email:</h6>
									<h6 class="fw-light">${obj.message.email}</h6>
								</div>
								
								<div class="d-flex justify-content-start align-items-center mt-2">
									<h6 class="fw-bold me-4">Message:</h6>
									<h6 class="fw-light txt-justify col-12">${obj.message.msg}</h6>
								</div>
								<div class="d-flex justify-content-start align-items-center mt-2">
									<h6 class="fw-bold me-5">Reply:</h6>
									<h6 class="fw-light txt-justify col-12">${obj.repliedMsg}</h6>
								</div>
							</div>
						</div>

					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					  </div>
					</div>
				  </div>
				</div>`
				document.getElementById("dynamic-modal").innerHTML=content
				const mod= new bootstrap.Modal(document.getElementById("msgModal"))
				mod.show()
            }                               
        })
	}

	//====initializing tooltip in bootstrap
	const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})

	</script>
}