@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<EcdsApp.Models.AdminBoundaryDistrict>
@{
    ViewData["Title"] = "District List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3 class="display-6 mb-0">List of Districts</h3>
                        <p class="card-title-desc">District Details Information</p>
                        <a asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light mb-3 w-lg">Add New District</a>

                        <div class="table-responsive mt-2">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DistrictGeoCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DistrictName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DistrictNameBangla)
                                        </th>
                                        <th>
                                            Division Name
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SortingOrder)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.DistrictGeoCode" class="btn btn-info btn-rounded btn-soft-info waves-effect waves-light">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@item.DistrictGeoCode" class="btn btn-danger btn-rounded btn-soft-danger waves-effect waves-light">Delete</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DistrictGeoCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DistrictName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DistrictNameBangla)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Division.DivisionName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SortingOrder)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatable-buttons").DataTable({
                lengthChange: !1,
                buttons: ["copy", "excel", "pdf", "colvis"]
            }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"), $(".dataTables_length select").addClass("form-select form-select-sm");
        });

    </script>
}
