ddTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EcdsApp.Models.ThemeModels;
@using EcdsApp.Models.UserManage
@using EcdsApp.Models.ViewModels
@using EcdsApp.Data
@using Microsoft.EntityFrameworkCore
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@* @inject DbSet<ThemeLayerDetail> layers *@
@{



    var user = await _userManager.GetUserAsync(User);
    if (user == null)
    {
        var hasEmail = User.HasClaim(x => x.Value.Contains("@gmail.com"));
        if (hasEmail)
        {
            var email = User.Claims.FirstOrDefault(c => c.Value.Contains("@gmail.com")).Value;
            user = await _userManager.FindByEmailAsync(email);
        }
    }
    var userRoleId = user?.UserRoleId;
    var dbContext = new DataContext();
    var userPermMenu = dbContext.RoleWisePermittedContents
        .Include(r => r.UserPermittedContent)
        .Where(r => r.UserRoleId == userRoleId).ToList();


    var countLayers = dbContext.ThemeLayerDetails.Count(i => i.ReadStatus == false);

    var layerInfoes = dbContext.ThemeLayerDetails.Where(i => i.ReadStatus == false).ToList(); 
}

<header id="page-topbar">
    <img class="logo" src="~/assets/images/logo-light.png" style="float:left">
    <div class="navbar-header">
        <div class="d-flex">

            <!-- LOGO -->
            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            @* <span class="title-txt d-none d-md-inline-block">
                <span class="title">Platform of Environment, Climate Change and Disaster Statistics <span>(ECDS)</span></span>
            </span> *@
            <span class="title-txt d-none d-md-inline-block">
                <span style="color: rgb(240, 203, 135);font: 700 1.60vw/1.5 Roboto, Noto Sans, Helvetica, Arial, sans-serif">Platform of Environment Statistics <span>(ECDS)</span></span><br />
                <span style="color: #d7ebf0;font: 700 1.20vw/1 Roboto, Noto Sans, Helvetica, Arial, sans-serif">Bangladesh Bureau of Statistics (BBS)</span>  <br>
               @*  <span style="color:#111111;font: 700 .80vw/1 Roboto, Noto Sans, Helvetica, Arial, sans-serif">Ministry of Planning</span> *@
            </span>


            <span class="title-txt d-inline-block d-md-none text-center">
                <span class="title title-sm m-2 ml-4">ECDS</span>
            </span>

        </div>

        <div class="d-flex">
            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="uil-minus-path"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="uil-bell"></i>
                    <span class="badge bg-danger rounded-pill">@countLayers</span>
                </button>

                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="m-0 font-size-16"> Notifications </h5>
                            </div>
                          @*   @if (userRoleId == AppStaticBase.SystemAdministrator)
                            {
                                <div class="col-auto">
                                    <a href="#!" class="small"> Mark all as read</a>
                                </div>
                            } *@
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">

                        
                        @if(countLayers>0){
                            foreach (var item in layerInfoes)
                            {
                                <a asp-controller="ThemeLayerDetails" asp-action="Edit" asp-route-id="@item.LayerId" class="text-dark notification-item">
                                @* <a href="javascript:void(0);" class="text-dark notification-item"> *@
                                    <div class="d-flex align-items-start">
                                         <div class="flex-shrink-0 me-3">
                                            @* <div class="avatar-xs">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="btn_map_layers"></i>
                                                </span>
                                            </div> *@
                                        </div> 
                                        <div class="flex-grow-1">
                                            <h6 class="mb-1">@item.LayerDisplayName | @item.GeneratedAt</h6>
                                            @* <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>  *@
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="text-dark notification-item">
                                <div class="d-flex align-items-start">                                    
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">No New Layer Added</h6>                                     
                                    </div>
                                </div>
                            </a>
                            
                        }

                        
                    </div>
                   @*  <div class="p-2 border-top">
                        <div class="d-grid">
                            <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                <i class="uil-arrow-circle-right me-1"></i> View More..
                            </a>
                        </div>
                    </div> *@
                </div>
            </div>

            <div class="dropdown d-inline-block" style="margin-right:60px">
                @if (_signInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if (user != null)
                        {
                            @if (user.ProfilePic != null)
                            {
                                <img class="rounded-circle header-profile-user" src="~/assets/profile_pics/@user.ProfilePic" alt="Profile Pictures" />
                            }
                            else
                            {
                                <img class="rounded-circle header-profile-user" src="~/assets/images/user_icon.png" alt="Profile Pictures">
                            }
                        }
                        else
                        {
                            <img class="rounded-circle header-profile-user" src="~/assets/images/user_icon.png" alt="Profile Pictures">
                        }

                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">@User.Identity?.Name</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="~/assets/documents/user_manual.pdf" target="_blank" title="User Manual"><i class="fas fa-info-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">User Manual</span></a>
                        @if (user != null)
                        {
                            <a class="dropdown-item" asp-action="ViewProfile" asp-controller="UserAccessManage"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">View Profile</span></a>
                        }
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/ChangePassword"><i class="bx bxs-lock-alt font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Change Password</span></a>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                            <button type="submit" class="dropdown-item"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Sign out</span></button>
                        </form>
                    </div>
                }
                else
                {
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="~/assets/images/user_icon.png"
                         alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">User</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <button onclick="my_modal_show()" class="dropdown-item" title="Instructional Video"><i class="fas fa-info-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Instructional Video</span></button>
                        <a class="dropdown-item" href="~/assets/documents/user_manual.pdf" target="_blank" title="User Manual"><i class="fas fa-info-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">User Manual</span></a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><i class="uil uil-sign-out-alt font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Login</span></a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><i class="uil uil-sign-out-alt font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Register</span></a>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="topnav">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Dashboard">
                                <i class="uil-home-alt me-2"></i> Dashboard
                            </a>
                        </li>

                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                    <i class="uil-apps me-2"></i>Layer<div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce" role="button">
                                            Admin Boundaries <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                            <a class="dropdown-item" asp-controller="AdminBoundaryDivisions" asp-action="Index">Division</a>
                                            <a class="dropdown-item" asp-controller="AdminBoundaryDistricts" asp-action="Index">District</a>
                                            <a class="dropdown-item" asp-controller="AdminBoundaryUpazilas" asp-action="Index">Upazila</a>
                                            <a class="dropdown-item" asp-controller="AdminBoundaryUnions" asp-action="Index">Union</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                       role="button">
                                            Theme <div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                            <a class="dropdown-item" asp-controller="Themes" asp-action="Index">Theme</a>
                                            <a class="dropdown-item" asp-controller="SubThemes" asp-action="Index">Component</a>
                                            <a class="dropdown-item" asp-controller="MetaDataDetail" asp-action="Index">Meta Data</a>
                                            <a class="dropdown-item" asp-controller="BundleDetail" asp-action="Create">Bundle</a>
                                        </div>
                                    </div>

                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" asp-action="Index" asp-controller="ThemeLayerDetails" id="topnav-ecommerce" role="button">
                                            Layers
                                        </a>
                                    </div>

                                    <div class="dropdown">
                                        <a class="dropdown-item dropdown-toggle arrow-none" asp-action="Create" asp-controller="LayerLegendColors" id="topnav-ecommerce" role="button">
                                            Layer Legend Color
                                        </a>
                                    </div>

                                </div>
                            </li>

                            @if (userRoleId == AppStaticBase.SystemAdministrator)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                        <i class="uil-apps me-2"></i>Admin Panel<div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                        <a class="dropdown-item" href="~/assets/documents/user_manual_admin.pdf" target="_blank">Admin User Manual</a>
                                        <a class="dropdown-item" asp-controller="UserAccessManage" asp-action="Users">Users</a>
                                        <a class="dropdown-item" asp-controller="UserAccessManage" asp-action="Roles">User Roles</a>
                                        <a class="dropdown-item" asp-controller="TableInfo" asp-action="Index">Table & Column</a>
                                        <a class="dropdown-item" asp-controller="UserMessage" asp-action="Index">User Message</a>
                                        <a class="dropdown-item" asp-controller="LogInfo" asp-action="IncomingRequests">Hit Count</a>
                                        <a class="dropdown-item" asp-controller="LogInfo" asp-action="LogDetails">Download Log</a>
                                    </div>
                                </li>
                            }
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                <i class="uil-location-point me-2"></i>Map <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a class="dropdown-item" asp-controller="Map" asp-action="BasicMap">Map View</a>
                                <a class="dropdown-item" asp-controller="Map" asp-action="MapComparison">Map Comparison</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                <i class="uil-location-point me-2"></i>ECDS Applications <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a href="https://ecdsbbs.com" class="dropdown-item" target="_blank" title="Bangladesh Environmental Statistics Platform">Compilation of Env. Stat.</a>
                              
                                <a href="http://list.ecdsbbs.com/" class="dropdown-item" target="_blank">BDRS Listing</a>
                                <a href="http://main.ecdsbbs.com/" class="dropdown-item" target="_blank">BDRS Main Survey</a>  
                                <a href="http://eper.ecdsbbs.com/" class="dropdown-item" target="_blank" title="Estimation of Environmental Protection Expenditure, Resources & Waste Management (Establishment) Survey">EPER & MWM Survey</a>
                                
                                @* <a href="https://play.google.com/store/apps/details?id=com.cegisbd.ecdsmobileapp" class="dropdown-item" target="_blank">Apps Download Link</a>
 *@
                                <a href="~/assets/documents/APK/hbes.apk" class="dropdown-item" target="_blank">HBES Data Listing App</a>
                                
                                <a href="~/assets/documents/apk/hbes_application_manual.pdf" class="dropdown-item" target="_blank">User Manual</a>
                                <a href="~/assets/documents/apk/hbes_user_video_manual.mp4" class="dropdown-item" target="_blank">Video Tutorial</a>

                                
                               @*  <a href="~/assets/documents/APK/HES2024ForTesting.apk" class="dropdown-item" target="_blank">HBES Data Listing App</a>

 *@
                               
                                <a class="dropdown-item" asp-controller="Home" asp-action="UploadExcelData">Forest and Land Account</a>
                                @* <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce" role="button">
                                        Forest Account <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                        <a class="dropdown-item" asp-controller="Home" asp-action="UploadExcelData">Forest Account (Timber)</a>
                                        <a class="dropdown-item" asp-controller="" asp-action="">Forest and Other Wooded Land Account</a>
                                      
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce" role="button">
                                        Land Account <div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                        <a class="dropdown-item" asp-controller="" asp-action="">Land Cover of Bangladesh</a>
                                        <a class="dropdown-item" asp-controller="" asp-action="">Land Use of Bangladesh</a>

                                    </div>
                                </div> *@
                            
                            </div>

                            
                        </li>




                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="ContactUs">
                                <i class="uil-envelope me-2"></i>   Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="AboutUs">
                                <i class="uil-book-alt me-2"></i>   About
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <img class="bd_logo" src="~/assets/images/bd_govt_logo.png" style="float:right">
</header>





