@model IEnumerable<EcdsApp.Models.RegionModels.AdminBoundaryUnion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OldGeoCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnionNameBangla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upazila)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MunicipalityGeoCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MunicipalityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortingOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OldGeoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnionNameBangla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upazila.UpazilaGeoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityGeoCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MunicipalityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortingOrder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnionGeoCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnionGeoCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnionGeoCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">List of Union</h3>
                        <p class="card-title-desc">Union Details Information</p>
                        <a asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light w-lg">Add New Union</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Upazila.UpazilaName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnionNameBangla)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MunicipalityName)
                                        </th>
                                         <th>
                                            @Html.DisplayNameFor(model => model.MunicipalityGeoCode)
                                        </th>                                         
                                        <th>
                                            @Html.DisplayNameFor(model => model.SortingOrder)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.UnionGeoCode" class="px-3 text-primary"><i class="uil-pen font-size-20"></i></a>
                                                @*<a asp-action="Delete" asp-route-id="@item.UpazilaGeoCode" class="btn btn-danger btn-rounded btn-soft-danger waves-effect waves-light">Delete</a>*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Upazila.UpazilaName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnionName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnionNameBangla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MunicipalityName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MunicipalityGeoCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SortingOrder)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatable-buttons").DataTable({
                lengthChange: !1,
                buttons: ["copy",                
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    }
                ,"pdf", "colvis"]
            }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"), $(".dataTables_length select").addClass("form-select form-select-sm");
        });
    </script>
}