@model IEnumerable<EcdsApp.Models.RegionModels.AdminBoundaryUnion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*.tab-card{
        max-height:50vh;
        overflow:auto;
    }*/
    tr{
        border-color:white;
    }
    .bx{
        font-size:0.75rem;
    }
    
    .dropdown-menu li>span{
        cursor:pointer;
        padding-right:5px;
        padding-left:5px;
    }
</style>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">List of Union</h3>
                        <p class="card-title-desc">Union Details Information</p>
                        <a asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light w-lg">Add New Union</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <!--Special Buttons-->
                            <div class="col-12 d-flex justify-content-center justify-content-md-end align-items-center my-3">
                                
                                <!--First Dropdown-->
                                <div class="dropdown me-3">
                                   <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  No. of Rows <i class="bx bxs-down-arrow pt-1"></i>
                                   </button>
                                   <ul class="dropdown-menu" >
                                     <li class="my-2">
                                         <span onclick="LoadData(10)">Load 10 rows</span>
                                      </li>
                                      <li class="my-2">
                                         <span onclick="LoadData(25)">Load 25 rows</span>
                                      </li>
                                      <li class="my-2">
                                         <span onclick="LoadData(50)">Load 50 rows</span>
                                      </li>
                                       <li class="my-2">
                                         <span onclick="LoadFullData()">All rows</span>
                                      </li>
                                   </ul>
                                </div>
                                <!--End First Dropdown-->
                                <!--Second Dropdown-->
                                <div class="dropdown">
                                   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                   Column Customization
                                   </button>
                                   <ul class="dropdown-menu" >
                                      <li>
                                         <div class="form-check">
                                            <input id="mld-1" class="form-check-input" type="checkbox" value="" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                            Upazila Name
                                            </label>
                                         </div>
                                      </li>
                                      <li>
                                         <div class="form-check">
                                            <input id="mld-2" class="form-check-input" type="checkbox" value="" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                           Union Name
                                            </label>
                                         </div>
                                      </li>
                                      <li>
                                         <div class="form-check">
                                            <input id="mld-3" class="form-check-input" type="checkbox" value="" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                            Union Name Bangla
                                            </label>
                                         </div>
                                      </li>
                                      <li>
                                         <div class="form-check">
                                            <input id="mld-4" class="form-check-input" type="checkbox" value="" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                            Municipality Name
                                            </label>
                                         </div>
                                      </li>
                                      <li>
                                         <div class="form-check">
                                            <input id="mld-5" class="form-check-input" type="checkbox" value="" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                            Municipality Geo Code
                                            </label>
                                         </div>
                                      </li>                                  
                                   </ul>
                                </div>
                                <!--End Second Dropdown-->
                            </div>
                            
                            <!--Special Buttons End-->
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Upazila.UpazilaName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnionNameBangla)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MunicipalityName)
                                        </th>
                                         <th>
                                            @Html.DisplayNameFor(model => model.MunicipalityGeoCode)
                                        </th>                                         
                                        <th>
                                            @Html.DisplayNameFor(model => model.SortingOrder)
                                        </th>
                                        
                                    </tr>
                                </thead>
                                <tbody class="maxvh-50 overflow-auto">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>*@
</div>


@*<!--Bootstrap Modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Union Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <div id="alert"></div>
            <form>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Upazila</label>
                  <input type="email" name="upazilaName" class="form-control" id="upazilaName">
               </div>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Union Name</label>
                  <input type="email" name="unionName" class="form-control" id="unionName">
               </div>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Union Name Bangla</label>
                  <input type="email" name="unionNameBangla" class="form-control" id="unionNameBangla">
               </div>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Municipality Name</label>
                  <input type="email" name="municipalityName" class="form-control" id="municipalityName">
               </div>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Municipality GEO Code</label>
                  <input type="email" name="municipalityGeoCode" class="form-control" id="municipalityGeoCode">
               </div>
               <div class="mb-3">
                  <label class="form-label" for="inputEmail">Sorting Order</label>
                  <input type="email" name="sortingOrder" class="form-control" id="sortingOrder">
               </div>
               <input type="hidden" name="unionGeoCode" class="form-control" id="unionGeoCode">
               <input type="hidden" name="unionGeoCode" class="form-control" id="upazilaGeoCode">
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" id="submit" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>
<!--End Bootstrap Modal-->*@


@section Scripts{
 
 <script type="text/javascript">
 let columnsToDownload=[]
 let totalData=@ViewBag.toData
 let arry=[]
 let geoCodes=[]
 let columns=[
            {
               data: null,
               render: function (data) {
                   return `<i role="button" class="bx bx-edit edit-btn fs-3 text-primary" d-ungcode="${data.unionGeoCode}" d-upgcode="${data.upazila.upazilaGeoCode}"></i>`;
               }      
            },
            { data: "upazila.upazilaName", autoWidth: true },
            { data: "unionName",  autoWidth: true },
            { data: "unionNameBangla", autoWidth: true },
            { data: "municipalityName", autoWidth: true },
            { data: "municipalityGeoCode", autoWidth: true },
            { data: "sortingOrder", autoWidth: true }            
        ]
//====data Table properties
let dTableProps ={
    dom: 'Bfrtip',
    processing: true,
    serverSide: true,
    filter:true,
    paging:true,
    fixedHeader: true,
    scrollY:true,
    ajax: {
            url: '@Url.Action("JqueryDataTableUnionList")',
            type: "POST",
            datatype: "json"
    },
    columns:columns,
    lengthChange: !1,
    pageLength: 10,
    buttons: [
        {
            extend: 'copyHtml5',
            exportOptions: {
                columns: [1,2,3,4,5]
            }
        },
        {
            extend: 'excelHtml5',
            exportOptions: {
                    columns: [1,2,3,4,5]
            }
        },
        {
            extend: 'pdfHtml5',
            exportOptions: {
                columns: [1,2,3,4,5]
            }
        },
        'colvis'
    ]
}
//=====data Table initialized
let table = $("#datatable-buttons").DataTable(dTableProps);
$(document).ready(function () {
    table.buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"), $(".dataTables_length select").addClass("form-select form-select-sm");
})

//====Update Information in the database
const SaveInDb =(e)=>{
    
    arry=[]
    for(let i=0;i<=5;i++){
        arry.push($("#d"+i).val())
    }

    $.post(
        '@Url.Action("Edit")',
        {            
            'adminBoundaryUnion.unionGeoCode':geoCodes[0],
            'adminBoundaryUnion.upazilaGeoCode':geoCodes[1],
            'adminBoundaryUnion.upazilaName':arry[0],
            'adminBoundaryUnion.unionName':arry[1],
            'adminBoundaryUnion.unionNameBangla':arry[2],
            'adminBoundaryUnion.municipalityName':arry[3],
            'adminBoundaryUnion.municipalityGeoCode':arry[4],
            'adminBoundaryUnion.sortingOrder':arry[5]
        },
        function(data){
           //=== response returned from server

           if(data=="success"){
                //=== updated successfully
                //=== update the row by removing input fields

                const tr=$($(e.target).parent()).parent()                
                const selected=tr.children()
                tr.html(`<td class="sorting_1 dtr-control"><i role="button" class="bx bx-edit edit-btn fs-3 text-primary" d-ungcode="${geoCodes[0]}" d-upgcode="${geoCodes[1]}"></i></td>`)                   
                for(let i=0;i < arry.length;i++){
                    tr.append(`<td>${arry[i]}</td>`)
                }

               //=== show success message
               window.Swal.fire({
                    icon: "success",
                    title: "Updated Successfully",
                    //confirmButtonText: 'Ok'
               })

              
           }            
        }
     );
}

//====custom input field insert
$(document).on("click", '.edit-btn', function(){
    arry=[]
    const td=$(this).parent()
    const allDataInRow=td.parent().children()
    for(let i=1;i<allDataInRow.length;i++){
       arry.push(allDataInRow[i].innerText)
    }
    geoCodes=[]
    geoCodes.push($(this).attr("d-ungcode"))
    geoCodes.push($(this).attr("d-upgcode"))
        
    
    $(td).parent().html(`
    <td class="sorting_1 dtr-control"><i role="button" class="text-primary bx bx-save save-btn fs-3"></i></i><i role="button" class="ms-3 bx bx-x cross-btn fs-3 text-primary"></i></td>
    <td><input type="text" id="d0" class="form-control" value="${arry[0]}"/></td>
    <td><input type="text" id="d1" class="form-control" value="${arry[1]}"/></td>
    <td><input type="text" id="d2" class="form-control" value="${arry[2]}"/></td>
    <td><input type="text" id="d3" class="form-control" value="${arry[3]}"/></td>
    <td><input type="text" id="d4" class="form-control" value="${arry[4]}"/></td>
    <td><input type="text" id="d5" class="form-control" value="${arry[5]}"/></td>`)
})

//==== Save Information click event handler

$(document).on("click", '.save-btn',(e)=>{
    SaveInDb(e)
})


//=== Remove input fields based on clicking x button
//=== and load the previous data

$(document).on("click", '.cross-btn', function(){
    
    const tr=$($(this).parent()).parent()
    console.log(tr.children())
    const selected=tr.children()
    tr.html(`<td class="sorting_1 dtr-control"><i role="button" class="bx bx-edit edit-btn fs-3 text-primary" d-ungcode="${geoCodes[0]}" d-upgcode="${geoCodes[1]}"></i></td>`)
    //console.log(selected.length)
    //console.log(arry.length)
    
    for(let i=0;i < arry.length;i++){
        tr.append(`<td>${arry[i]}</td>`)
    }
    
})

/* 
=================================================
      Multi select dropdown value change event
=================================================
 */

 
 $(document).on("change", ".form-check-input", function (){
     let selectedItems=$(".form-check-input")
     //console.log(selectedItems.length)     
     for(let i=0;i<selectedItems.length;i++){
         //console.log(selectedItems[i].checked)
        //======= the checkbox is checked
        if(selectedItems[i].checked){
            columnsToDownload.push(i+1)
        }
        
     }
     //console.log(columnsToDownload)
     //console.log(table.buttons())
     table.button().remove()
     table.button().remove()  
     table.button().remove()  
     table.button().remove()  
     table.button().add(0,{
        extend: 'copyHtml5',
        exportOptions: {
            columns: columnsToDownload
        }
            
     })
     table.button().add(1,{
        extend: 'excelHtml5',
        exportOptions: {
                columns: columnsToDownload
        }
        
     })
     table.button().add(2,{
        extend: 'pdfHtml5',
        exportOptions: {
            columns: columnsToDownload
        }
            
     })
     table.button().add(3,'colvis')
     
     //===reinitialize buttons to download only the selected columns    
     columnsToDownload=[]
     return false
    
 })

 //====Load Full Data
 const LoadFullData = async ()=>{
     jQuery("#busy-indicator").fadeIn(150);
     let x= await LoadAllRows()
     if(x=="completed")
        jQuery("#busy-indicator").fadeOut(150);
     
 }

 const LoadAllRows = async () => {

     return new Promise(resolve=>{
         table.page.len(totalData).draw()
         setTimeout(()=>{
             resolve("completed")
         },1000)
         
     })     
 }


 //=====Go to default pagination
 //====Load 10 rows

 const LoadData = (noOfRows)=>{
     jQuery("#busy-indicator").fadeIn(150);
     table.page.len(noOfRows).draw()
     jQuery("#busy-indicator").fadeOut(150);     
 }

 </script>
}


   