@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body m-0">
                        <h3 class="display-6 mb-0">List of Role</h3>
                        <p class="card-title-desc">Role Details Information</p>
                        <a href="@Url.Action("AddRoleWithAccess", "UserAccessManage")" class="btn btn-info btn-rounded waves-effect waves-light w-lg">Add New Role</a>
                    </div>
                </div>
                <div class="table-responsive mb-4">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr class="bg-transparent">
                            <th class="text-center">Role Id</th>
                            <th class="text-center">Role Name</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td class="text-center">@item.Name</td>
                                <td class="text-center">
                                    <a onclick="EditRoleName('@item.Id', '@item.Name')" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" style="margin-right: 20px;">Edit Name</a>
                                    <a target="_blank" href="@Url.Action("EditRoleWithAccess", "UserAccessManage", new { roleId = item.Id })"
                                       class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" style="margin-right: 20px;">Modify Permission</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <!--  Large modal example -->
                    <div id="editRoleNameModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content" style="margin-top: 190px">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myLargeModalLabel">Edit Role Information</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="txtRoleId" />

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label required">Role Name</label>
                                            <input id="editTxtRoleName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button id="btnUpdateRoleName" type="button" class="btn btn-success">Update</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function EditRoleName(roleId, roleName) {
            $('#txtRoleId').val(roleId);
            $('#editTxtRoleName').val(roleName);

            $("#editRoleNameModal").modal("show");
        }

        $('#btnUpdateRoleName').click(function() {
            if ($('#editTxtRoleName').val() === "") {
                window.Swal.fire({
                    icon: "error",
                    title: "Role Name Can't be null!",
                    showConfirmButton: false,
                    timer: 3000
                });
                return;
            }

            const postUrl = '@Url.Action("EditRoleInfo", "UserAccessManage")';
            $.ajax({
                type: "POST",
                url: postUrl,
                accept: "application/json; charset=utf-8",
                data: { roleId: $('#txtRoleId').val(), roleName: $('#editTxtRoleName').val()},
                before: $("#busy-indicator").fadeIn(150),
                success: function (result) {
                    if (result === "Success") {
                        window.Swal.fire({
                            icon: "success",
                            title: "Data Added Successfully!",
                            showConfirmButton: false,
                            timer: 2000
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2010);
                    } else {
                        window.Swal.fire({
                            icon: "error",
                            title: "Error Saving Data! Please try again",
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    const errorMsg = xhr.responseText;
                    window.Swal.fire({
                        icon: "error",
                        title: errorMsg,
                        showConfirmButton: false,
                        timer: 2500
                    });
                },
                complete: $("#busy-indicator").fadeOut(150)
            });
        });
    </script>
}
