@model EcdsApp.Models.UserManage.ApplicationUser
@{
	ViewData["Title"] = "Profile Info";	
}

@section Styles{
	<style>
	.prof-card{
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
		padding:60px 30px;
		border-radius:10px;

	}
	.vh90{
		min-height:90vh;
	}

	.prof-img{
		height:150px;
		border-radius:50%;
	}
	</style>
}
<div class="page-content bg-white vh90 d-flex justify-content-center align-items-center">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="prof-card col-lg-5 col-md-10 col-12">
				<div class="d-flex justify-content-end align-items-center">
					<a asp-action="UpdateProfile" asp-route-userid="@Model.Id"><i class="bx bx-edit fs-5 pe-2"></i>Edit Profile</a>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					@*<i class="py-2 bx bx-lg bx-user-pin"></i>*@
					@if(@Model.ProfilePic == null)
					{
						<img class="prof-img" src="~/assets/profile_pics/user_icon.png" />
					}
					else
					{
						<img class="prof-img" src="~/assets/profile_pics/@Model.ProfilePic" />
					}

				</div>
				<h2 class="text-center fs-2 mt-5">Profile Info</h2>
				<table class="table table-bordered">
				<tbody>
					<tr>
						<th>Name</th>
						<td>@Html.Raw(Model.FirstName+" "+Model.LastName)</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>@Model.Email</td>
					</tr>
					<tr>
						<th>Designation</th>
						<td>@Model.Designation</td>
					</tr>
					<tr>
						<th>Contact Number</th>
						<td>@Model.MobileNo</td>
					</tr>
					<tr>
						<th>Address</th>
						<td>@Model.Address</td>
					</tr>
					<tr>
						<th>Date of Birth</th>
						<td>@Model.DateOfBirth</td>
					</tr>
					<tr>
						<th>Name of the Organization</th>
						<td>@Model.Organization</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>

