@model IEnumerable<EcdsApp.Models.ThemeModels.SubTheme>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">List of Sub-Themes</h3>
                        <p class="card-title-desc">Sub-Theme Details Information</p>
                        <a asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light mb-2 w-lg">Add New Sub-Theme</a>

                        <div class="table-responsive">
                            <table class="table table-nowrap table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Themes.ThemeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubThemeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SubThemePath)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-info btn-rounded btn-soft-info waves-effect waves-light" asp-route-id="@item.SubThemeId">Edit</a>
                                            <a asp-action="Delete" class="btn btn-danger btn-rounded btn-soft-danger waves-effect waves-light" asp-route-id="@item.SubThemeId">Delete</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Themes.ThemeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubThemeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubThemePath)
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
