@model EcdsApp.Models.TabularModels.TableInfo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TableInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubThemes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubThemes.SubThemeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoundaryInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoundaryInfo.BoundaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TableModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TableModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
