@model EcdsApp.Models.ThemeModels.LayerLegendColor
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h3 class="display-6 mb-3">Add Layer Legend Color Information</h3>
						<br />
						<div class="row my-5">
							<div class="d-flex">
								<h6 class="me-4">Add Icon?</h6>
								<div class="d-flex">
									<div class="form-check me-2">
										<label class="form-check-label">
										<input class="form-check-input" type="radio" name="iconChecker" value="yes">
										
											Yes
										</label>
									</div>
									<div class="form-check">
										<label class="form-check-label">
										<input class="form-check-input" type="radio" name="iconChecker" value="no" checked>
										
											No
										</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="mb-3 col-md-3">
								<label class="form-label required">Theme</label>
								<select id="theme-info" class="form-control" asp-items="ViewBag.Themes" onchange="GetSubThemeData()">
									<option value=""> -- Select -- </option>
								</select>
							</div>

							<div class="mb-3 col-md-3">
								<label class="form-label required">Sub Theme</label>
								<select id="subtheme-info" class="form-control" onchange="GetLayerData()">
									<option value=""> -- Select -- </option>
								</select>
							</div>
							<div class="mb-3 col-md-3">
								<label class="form-label required">Layer</label>
								<select id="ddlLayerOption" asp-for="LayerId" class="form-control"></select>
								<span asp-validation-for="LayerId"></span>
							</div>

							<div class="mb-3 col-md-3">
								<label asp-for="LayerMainAttribureValue" class="form-label required"></label>
								<input id="txtMainAttrValue" asp-for="LayerMainAttribureValue" class="form-control edit" />
							</div>
						</div>
						<form method="post" enctype="multipart/form-data">
							<div class="row">

								<div class="mb-3 col-md-3" id="cont-txtLegendColorCode">
									<label class="form-label required" asp-for="LayerLegendColorCode"></label>
									<input type="text" id="txtLegendColorCode" value="" class="form-control edit" placeholder="e.g. #ffffff" />
								</div>

								<div class="mb-3 col-md-3" id="cont-fileUploaded">
									<label class="form-label required">Upload Icon File</label>
									<input type="file" id="fileUploaded" class="form-control edit" accept="image/*" />
								</div>

								<div class="mb-3 col-md-3" id="cont-txtIconSize">
									<label class="form-label required" asp-for="IconSize"></label>
									<input id="txtIconSize" asp-for="IconSize" class="form-control edit" />
								</div>
								<div class="mb-3 col-md-3">
									<label class="form-label required" asp-for="LayerLegendDisplayName"></label>
									<input id="txtLegendDisplayName" asp-for="LayerLegendDisplayName" class="form-control edit" />
								</div>

								<div class="mb-3 col-md-3">
									<label class="form-label" asp-for="LegendColumnName"></label>
									<input id="txtLegendColumnName" asp-for="LegendColumnName" class="form-control edit" />
								</div>

								@*<div class="mb-3 col-md-3">
									<label class="form-label required" asp-for="LayerLegendDisplayName"></label>
									<input id="txtLegendDisplayName" asp-for="LayerLegendDisplayName" class="form-control edit" />
									</div>*@


								<div class="col-md-2 align-self-center">
									<div class="d-grid" style="margin-top: 11px">
										<input id="btnSaveLegendColorInfo" type="button" class="btn btn-primary" value="Add" />
									</div>
								</div>

							</div>
							<div class="table-responsive mt-3">
								<table class="table table-nowrap table-striped table-bordered">
									<thead>
										<tr class="fw-bold">
											<td>Main Attribute</td>
											<td>Legend Display Name</td>
											<td>Legend Column Name</td>
											<td>Legend Color Code/ Icon</td>
											<td></td>
										</tr>
									</thead>
									<tbody id="tblLegendColorData"></tbody>
								</table>
							</div>


							<!--  Large modal example -->
							<div id="editLegendColorModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-bs-backdrop="static">
								<div class="modal-dialog modal-lg">
									<div class="modal-content" style="margin-top: 190px">
										<div class="modal-header">
											<h5 class="modal-title" id="myLargeModalLabel">Edit Layer Legend Color Information</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<input type="hidden" id="txtLayerLegendColorId" />
											<input type="hidden" id="txtLayerId" class="form-control" />
											<input type="hidden" id="editIconPath" class="form-control" value="" />

											<div class="row" id="edit-modal-body">
												<div class="col-md-12 mb-3">
													<label class="form-label required">Main Attribute Value</label>
													<input id="editTxtMainAttrValue" type="text" class="form-control" />
												</div>

												<div class="col-md-12 mb-3">
													<label class="form-label required">Legend Display Name</label>
													<input id="editTxtLegendDisplayName" type="text" class="form-control" />
												</div>
												<div class="col-md-12 mb-3">
													<label class="form-label required">Legend Column Name</label>
													<input id="editTxtLegendColumnName" type="text" class="form-control" />
												</div>
												<div class="col-md-12 mb-3" id="edit-color-code-cont">
													<label class="form-label required">Legend Color Code</label>
													<input id="editTxtLegendColorCode" type="text" class="form-control" placeholder="e.g. #ffffff"/>
												</div>
												<div class="col-md-12" id="img-section-mod">
													<div class="mb-3 col-md-12" id="cont-fileUploaded">
														<label class="form-label required">Upload Icon File</label>
														<input type="file" id="editfileUploaded" class="form-control edit" accept="image/*" />
													</div>
													<div class="mb-3 col-md-12" id="cont-txtIconSize">
														<label class="form-label required">Icon Size</label>
														<input id="editIconSize" asp-for="IconSize" class="form-control edit" value="" />
													</div>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
											<button id="btnUpdateLegendColorInfo" type="button" class="btn btn-success">Update</button>
										</div>
									</div><!-- /.modal-content -->
								</div><!-- /.modal-dialog -->
							</div><!-- /.modal -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

<script type="text/javascript">
	var frmData=new FormData();
	$(document).ready(function () {
		var editSectionMode="txt";
		
		//var formData=new FormData();

		//$('#txtLegendColorCode').spectrum({
		//    showInitial: true,
		//    showInput: true
		//});

		$('#ddlLayerOption').change(function () {
			const layerId = $('#ddlLayerOption option:selected').val();

			GetLayerLegendColorInfo(layerId);
		});

		//==add event listener for file upload
		$("#fileUploaded").on("change",(event)=>{
			//console.log("file changed");
			let submittedFile=event.target.files[0];
			//console.log(submittedFile);
			let allowedFormats=['png','jpeg','jpg','webp','svg','ico'];
			let isImageInRightFormat=false;
			allowedFormats.forEach(x=>{
				if(submittedFile.name.toLowerCase().includes(x)){
					frmData.append("file",submittedFile);
					isImageInRightFormat=isImageInRightFormat | true;
					return;
				}
			})

			if(!isImageInRightFormat){
				window.Swal.fire({
					icon: "error",
					title: "Only .jpg /.jpeg /.png /.svg /.ico /.svg file format is supported",
					showConfirmButton: false,
					timer: 3000
				});
			}
			return;

		});

		$("#editfileUploaded").on("change",(event)=>{
			console.log(frmData);
			let submittedFile=event.target.files[0];
			//console.log(submittedFile);
			let allowedFormats=['png','jpeg','jpg','webp','svg','ico'];
			let isImageInRightFormat=false;
			allowedFormats.forEach(x=>{
				if(submittedFile.name.toLowerCase().includes(x)){
					frmData.append("file",submittedFile);
					isImageInRightFormat=isImageInRightFormat | true;
					return;
				}
			})

			if(!isImageInRightFormat){
				window.Swal.fire({
					icon: "error",
					title: "Only .jpg /.jpeg /.png /.svg /.ico /.svg file format is supported",
					showConfirmButton: false,
					timer: 3000
				});
			}
			return;

		});

		//===Show only legend color code text box initially and block others
		$("#cont-txtLegendColorCode").show();
		$("#cont-fileUploaded").hide();
		$("#cont-txtIconSize").hide();
		//====check for Icon upload or Legend Color code insert Mode
		$("input[type='radio']").change(function(){
			var  radioValue = $('input[name="iconChecker"]:checked').val();
			if(radioValue ==="yes"){
				$("#cont-txtLegendColorCode").hide();
				$("#cont-fileUploaded").show();
				$("#cont-txtIconSize").show();
			}
			else{
				$("#cont-txtLegendColorCode").show();
				$("#cont-fileUploaded").hide();
				$("#cont-txtIconSize").hide();
			}
		});


		$('#btnSaveLegendColorInfo').click(function () {

			var layerId = $('#ddlLayerOption option:selected').val(),
				mainAttrValue = $('#txtMainAttrValue').val(),
				legendColorCode = $('#txtLegendColorCode').val(),
				legendDisplayName = $('#txtLegendDisplayName').val(),
				iconSize =$('#txtIconSize').val();
			if (layerId === "" || mainAttrValue === "" || legendDisplayName === "") {
				console.log("layerid and main and display name error");
				window.Swal.fire({
					icon: "error",
					title: "Please fill up all required fields!",
					showConfirmButton: false,
					timer: 3000
				});
				return;
			}

			if($('input[name="iconChecker"]:checked').val() === "yes"){

				if(iconSize===""){
					console.log("icon size name error");
					window.Swal.fire({
						icon: "error",
						title: "Icon Size field can't be empty",
						showConfirmButton: false,
						timer: 3000
					});
					return;
				}
				if($("#fileUploaded").val() !==""){
					let allowedFormats=['png','jpeg','jpg','webp','svg','ico'];
					let isImageInRightFormat=false;
					let fileValue=$("#fileUploaded").val();
					console.log(fileValue);
					allowedFormats.forEach(x=>{
						if(fileValue.includes(x)){
							isImageInRightFormat=isImageInRightFormat | true;
						}
					})
					if(!isImageInRightFormat){
						window.Swal.fire({
							icon: "error",
							title: "Only .jpg /.jpeg /.png /.svg /.ico /.svg file format is supported",
							showConfirmButton: false,
							timer: 3000
						});
						return;
					}

				}
				if($("#fileUploaded").val() ===""){
					window.Swal.fire({
						icon: "error",
						title: "Upload Relevant Icon file",
						showConfirmButton: false,
						timer: 3000
					});
					return;
				}

			}

			if($('input[name="iconChecker"]:checked').val() === "no"){
				$("#txtIconSize").val("0");
				if(legendColorCode === ""){
					console.log("legend color code error");
					window.Swal.fire({
						icon: "error",
						title: "Please fill up all required fields!",
						showConfirmButton: false,
						timer: 3000
					});
					return;
				}

			}


			if ($('input[name="iconChecker"]:checked').val() === "no" && (!legendColorCode.startsWith('#') || legendColorCode.length !== 7)) {
				//console.log("error in legend color code");
				window.Swal.fire({
					icon: "error",
					title: "Legend Layer Color Code starts with '#' & Length must be 6 Character!",
					showConfirmButton: false,
					timer: 3000
				});
				return;
			}

			//const formData = {
			//	'LayerId': layerId,
			//	'LayerMainAttribureValue': $('#txtMainAttrValue').val(),
			//	'LayerLegendColorCode': $('#txtLegendColorCode').val(),
			//	'LayerLegendDisplayName': $('#txtLegendDisplayName').val(),
			//	'IconSize':$("#txtIconSize").val(),
			//	'LegendColumnName':$("#txtLegendColumnName").val(),
			//	'file':file

			//};

			frmData.append("formData.LayerId",layerId);
			frmData.append("formData.LayerMainAttribureValue",$('#txtMainAttrValue').val());
			frmData.append("formData.LayerLegendColorCode",$('#txtLegendColorCode').val());
			frmData.append("formData.LayerLegendDisplayName",$('#txtLegendDisplayName').val());
			frmData.append("formData.IconSize",$("#txtIconSize").val());
			frmData.append("formData.LegendColumnName",$("#txtLegendColumnName").val());



			const url = '@Url.Action("Create", "LayerLegendColors")';
			console.log(frmData);
			$.ajax({
				type: "POST",
				url: url,
				accept: "application/json; charset=utf-8",
				data: frmData,
				contentType: false,
				processData: false,
				before: $("#busy-indicator").fadeIn(150),
				success: function (result) {
					if (result === "Success") {
						window.Swal.fire({
							//position: "top-end",
							icon: "success",
							title: "Data Added Successfully!",
							showConfirmButton: false,
							timer: 2500
						});
						GetLayerLegendColorInfo(layerId);
						clearFormData();
					} else {
						window.Swal.fire({
							icon: "error",
							title: "Error Saving Data! Please try again",
							showConfirmButton: false,
							timer: 2500
						});
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					const errorMsg = xhr.responseText;
					window.Swal.fire({
						icon: "error",
						title: errorMsg,
						showConfirmButton: false,
						timer: 2500
					});
				},
				complete: $("#busy-indicator").fadeOut(150)
			});
		});

	});


	//====Update Section

	$('#btnUpdateLegendColorInfo').click(function() {

		//frmData= new FormData();

		var layerLegendColorId = $('#txtLayerLegendColorId').val(),
			layerId = $('#txtLayerId').val(),
			mainAttrValue = $('#editTxtMainAttrValue').val(),
			legendColorCode = $('#editTxtLegendColorCode').val(),
			legendDisplayName = $('#editTxtLegendDisplayName').val(),
			iconSize=$('#editIconSize').val(),
			legendColumnName=$("#editTxtLegendColumnName").val();

			//===check for layerid main attribute and legend display name

			if (layerId === "" || mainAttrValue === "" || legendDisplayName === "") {
				console.log("layerid and main and display name error");
				window.Swal.fire({
					icon: "error",
					title: "Please fill up all required fields!",
					showConfirmButton: false,
					timer: 3000
				});
				return;
			}

			if(editSectionMode =="img"){
				console.log(iconSize);
				if(iconSize ==""){

					console.log("icon size name error");
					window.Swal.fire({
						icon: "error",
						title: "Icon Size field can't be empty",
						showConfirmButton: false,
						timer: 3000
					});
					return;
				}

				if($("#editfileUploaded").val() !==""){
					let allowedFormats=['png','jpeg','jpg','webp','svg','ico'];
					let isImageInRightFormat=false;
					let fileValue=$("#editfileUploaded").val();
					console.log(fileValue);
					allowedFormats.forEach(x=>{
						if(fileValue.includes(x)){
							isImageInRightFormat=isImageInRightFormat | true;
						}
					})
					if(!isImageInRightFormat){
						window.Swal.fire({
							icon: "error",
							title: "Only .jpg /.jpeg /.png /.svg /.ico /.svg file format is supported",
							showConfirmButton: false,
							timer: 3000
						});
						return;
					}

				}
			}
			
			if(editSectionMode == "txt"){
				if(!legendColorCode.startsWith('#') || legendColorCode.length !== 7){
					window.Swal.fire({
						icon: "error",
						title: "Legend Layer Color Code starts with '#' & Length must be 6 Character!",
						showConfirmButton: false,
						timer: 3000
					});
					return;

				}
			}

			frmData.append("formData.LayerId",layerId);
			frmData.append("formData.LayerMainAttribureValue",mainAttrValue);
			frmData.append("formData.LayerLegendColorCode",legendColorCode);
			frmData.append("formData.LayerLegendDisplayName",legendDisplayName);
			frmData.append("formData.LayerLegendColorId",layerLegendColorId);
			iconSize=iconSize == ""? "0":iconSize;
			frmData.append("formData.IconSize",iconSize);
			frmData.append("formData.LegendColumnName",legendColumnName);
			frmData.append("formData.IconPath",$("#editIconPath").val());

			//===send data with ajax call

			const url = '@Url.Action("Edit", "LayerLegendColors")';
		$.ajax({
			type: "POST",
			url: url,
			accept: "application/json; charset=utf-8",
			data: frmData,
			contentType: false,
			processData: false,
			before: $("#busy-indicator").fadeIn(150),
			success: function (result) {
				if (result === "Success") {
					window.Swal.fire({
						//position: "top-end",
						icon: "success",
						title: "Data Updated Successfully!",
						showConfirmButton: false,
						timer: 2500
					});
					GetLayerLegendColorInfo(layerId);
					setTimeout(function() {
						$('#editLegendColorModal').modal('hide');
					}, 2500);
				} else {
					window.Swal.fire({
						icon: "error",
						title: "Error Updating Data! Please try again",
						showConfirmButton: false,
						timer: 2500
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				const errorMsg = xhr.responseText;
				window.Swal.fire({
					icon: "error",
					title: errorMsg,
					showConfirmButton: false,
					timer: 2500
				});
			},
			complete: $("#busy-indicator").fadeOut(150)
		});

	});


	function GetLayerLegendColorInfo(layerId) {

		const url = '@Url.Action("GetLayerLegendColorInfo", "LayerLegendColors")';
		$.ajax({
			type: "GET",
			url: url,
			data: { layerId: layerId},
			dataType: "json",
			before: $("#busy-indicator").fadeIn(150),
			success: function (data, status, jqXhr) {
				if (data.length > 0) {
					var rows = '';

					$.each(data, function (i, item) {
						//console.log(item);
						//rows += '<tr><td class="col-md-3">' + item.themeLayerDetails.layerName + '</td><td class="col-md-2 text-center">' + item.layerMainAttribureValue + '</td><td class="col-md-2 text-center">' + item.layerLegendColorCode + '</td><td class="col-md-3 text-center">' + item.layerLegendDisplayName + '</td><td class="col-md-3"><input type="button" onclick="javascript:EditLayerLegendColorInfo(' + item.layerLegendColorId + ');" class="btn btn-info" value="Edit" style="margin-right: 15px;" /><input type="button" onclick="javascript:DeleteLayerLegendColorInfo(' + item.layerLegendColorId + ', ' + item.layerId + '); GetLayerLegendColorInfo(' + item.layerId + ');" class="btn btn-danger" value="Delete" /></td></tr>';
						rows += '<tr><td class="col-md-2 text-center">' + item.layerMainAttribureValue + '</td><td class="col-md-2 text-center">' + item.layerLegendDisplayName + '</td>';
						if(item.iconPath != null && item.iconPath.length>0){
							rows+='<td class="col-md-2 text-center">' + item.legendColumnName + '</td><td class="col-md-2 text-center" colspan="2"><a href="./ShowImage?id='+item.layerLegendColorId+'">Icon Path ( Size='+item.iconSize+') </a></td>'+'<td class="col-md-3"><input type="button" onclick="javascript:EditLayerLegendColorInfo(' + item.layerLegendColorId + ');" class="btn btn-info" value="Edit" style="margin-right: 15px;" /><input type="button" onclick="javascript:DeleteLayerLegendColorInfo(' + item.layerLegendColorId + ', ' + item.layerId + '); GetLayerLegendColorInfo(' + item.layerId + ');" class="btn btn-danger" value="Delete" /></td></tr>';
						}
						else if(item.iconPath ==null || item.iconPath == "null"){
							rows+='<td class="col-md-2 text-center">' + item.legendColumnName + '</td><td class="col-md-2 text-center" colspan="2">'+item.layerLegendColorCode+'</td><td class="col-md-3"><input type="button" onclick="javascript:EditLayerLegendColorInfo(' + item.layerLegendColorId + ');" class="btn btn-info" value="Edit" style="margin-right: 15px;" /><input type="button" onclick="javascript:DeleteLayerLegendColorInfo(' + item.layerLegendColorId + ', ' + item.layerId + '); GetLayerLegendColorInfo(' + item.layerId + ');" class="btn btn-danger" value="Delete" /></td></tr>';
						}

					});

					$("#tblLegendColorData").html(rows);
				}
				else {
					$("#tblLegendColorData").html('<tr><td colspan="5" class="text-center text-red"><div class="alert alert-warning" role="alert"> Sorry, No Data Found </div></td></tr>');
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				$("#tblLegendColorData").html('<tr><td colspan="5" class="text-center text-red"><div class="alert alert-danger" role="alert"> Sorry! Something Went Wrong</div></td></tr>');
			},
			complete: $("#busy-indicator").fadeOut(150)
		});
	}


	function InsertHtmlBasedOnType(type){

		if(type == "img"){
			$('#edit-color-code-cont').hide();
			$("#img-section-mod").show();

		}
		else if(type == "txt"){
			$("#img-section-mod").hide();
			$('#edit-color-code-cont').show();
		}
	}

	//====Initial Edit function call after button press

	function EditLayerLegendColorInfo(layerLegendColorId) {
		const url = '@Url.Action("GetLegendColorPropertyInfo", "LayerLegendColors")';
		$.ajax({
			type: "GET",
			url: url,
			data: { layerLegendColorId: layerLegendColorId },
			dataType: "json",
			before: $("#busy-indicator").fadeIn(150),
			success: function (data, status, jqXhr) {

				//===if imagepath available call to insert image related info
				if(data.iconPath !=null){
					console.log("image edit");
					$("#editIconSize").val(data.iconSize);
					InsertHtmlBasedOnType('img');
					editSectionMode="img";
				}
				else{
					console.log("code txt edit");
					InsertHtmlBasedOnType('txt');
					editSectionMode="txt";
				}

				$('#txtLayerLegendColorId').val(data.layerLegendColorId);
				$('#txtLayerId').val(data.layerId);
				$('#editTxtMainAttrValue').val(data.layerMainAttribureValue);
				$('#editTxtLegendColorCode').val(data.layerLegendColorCode);
				$('#editTxtLegendDisplayName').val(data.layerLegendDisplayName);
				$("#editTxtLegendColumnName").val(data.legendColumnName);
				$("#editIconPath").val(data.iconPath);

				$("#editLegendColorModal").modal("show");
			},
			error: function (xhr, ajaxOptions, thrownError) {
				const errorMsg = xhr.responseText;
				window.Swal.fire({
					icon: "error",
					title: errorMsg,
					showConfirmButton: false,
					timer: 2500
				});
			},
			complete: $("#busy-indicator").fadeOut(150)
		});

	}

	function DeleteLayerLegendColorInfo(layerLegendColorId, layerId) {
		Swal.fire({
			icon: "warning",
			title: "Are you sure?",
			text: "You won't be able to Revert this!",
			showCancelButton: true,
			confirmButtonText: "Yes, Delete it!",
			cancelButtonText: "No, Cancel!",
			confirmButtonClass: "btn btn-success mt-2",
			cancelButtonClass: "btn btn-danger ms-2 mt-2",
			buttonsStyling: false,
			allowOutsideClick: false
		}).then(function (t) {
			if (t.isConfirmed) {

				const url = '@Url.Action("DeleteLayerLegendColorInfo", "LayerLegendColors")';
				$.ajax({
					type: "POST",
					url: url,
					data: { layerLegendColorId: layerLegendColorId },
					dataType: "json",
					before: jQuery("#busy-indicator").fadeIn(150),
					success: function (result) {
						window.Swal.fire({
							icon: "success",
							title: "Deleted!",
							text: "Legend Color Information has been deleted."
						});
						GetLayerLegendColorInfo(layerId);
					},
					error: function (xhr, ajaxOptions, thrownError) {
						const errorMsg = xhr.responseText;
						window.Swal.fire({
							icon: "error",
							title: "Error!",
							text: errorMsg
							//showConfirmButton: false,
							//timer: 2500
						});
					},
					complete: jQuery("#busy-indicator").fadeOut(150)
				});

			}
			else if (t.dismiss === Swal.DismissReason.cancel) {
				Swal.fire({
					icon: "error",
					title: "Cancelled",
					text: "Your Data is Safe :)"
				});
			}
		});


	}

	function clearFormData() {
		$('#txtMainAttrValue').val('');
		$('#txtLegendColorCode').val('');
		$('#txtLegendDisplayName').val('');
	}


	function GetSubThemeData(){
		let items = '<option value=""> -- Select -- </option>';
		$.ajax({
				type: 'GET',
				url: '@Url.Action("GetSubThemeData", "ThemeLayerDetails")',
				dataType: "json",
				data: { themeId: $("#theme-info").val() },
				success: function (responseData) {
					$('#subtheme-info').empty();
					$.each(responseData,
						function (i, subTheme) {
							items += "<option value='" + subTheme.value + "'>" + subTheme.text + "</option>";
						});
					if (items !== `<option value=""> -- Select -- </option>`) {
						$('#subtheme-info').html(items);
					} else {
						$('#subtheme-info').html("<option value=''>No Sub-Theme available under the selected Theme</option> ");
					}
				},
				error: function (ex) {
					window.Swal.fire({
						title: "Error",
						text: "Failed to Load Sub-Theme Data!" + ex.responseText,
						icon: "error",
						showConfirmButton: false,
						timer: 2000
					});
				}
			});
			return false;
	}
	function GetLayerData(){
		let items = '<option value=""> -- Select -- </option>';
		$.ajax({
				type: 'GET',
				url: '@Url.Action("GetLayerData", "ThemeLayerDetails")',
				dataType: "json",
				data: { subThemeId: $('#subtheme-info').val() },
				success: function (responseData) {
					$('#ddlLayerOption').empty();
					$.each(responseData,
						function (i, themeLayer) {

							items += "<option value='" + themeLayer.value + "'>" + themeLayer.text + "</option>";
						});
					if (items !== `<option value=""> -- Select -- </option>`) {
						$('#ddlLayerOption').html(items);
					} else {
						$('#ddlLayerOption').html("<option value=''>No Layer available under the selected Sub-Theme</option> ");
					}
				},
				error: function (ex) {
					window.Swal.fire({
						title: "Error",
						text: "Failed to Load Sub-Theme Data!" + ex.responseText,
						icon: "error",
						showConfirmButton: false,
						timer: 2000
					});
				}
			});
			return false;
	}
</script>
}
