@model EcdsApp.Models.ThemeModels.LayerLegendColor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LayerLegendColor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeLayerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThemeLayerDetails.LayerFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayerMainAttribureValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayerMainAttribureValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayerLegendColorCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayerLegendColorCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LayerLegendDisplayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LayerLegendDisplayName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LayerLegendColorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
