@model EcdsApp.Models.ViewModels.HitCountLogInfo.IncomingRequestVM
@{
    ViewData["Title"] = "Incoming Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <style>
        .count-num{
        padding-left: 10px;
        font-size: 24px;
        color: red;
        font-weight: 700;
        }
        b{
            font-size: 18px;
        }
    </style>
}
<div class="page-content my-5 bg-white">
    <div class="container-fluid min-vh-75">
        <div class="row">
            <h4 class="text-center my-4">Information about Incoming Requests</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10"></div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 d-flex justify-content-center">
                <div class="col-12 col-lg-4">
                    <b>Total Hit:</b><span class="count-num">@Model.TotalHitRequest</span>
                </div>
                <div class="col-12 col-lg-4">
                    <b>Total Hit in Last 24 Hours:</b><span class="count-num">@Model.TotalHitRequestYesterday</span>
                </div>
                <div class="col-12 col-lg-4">
                    <b>Total Hit in Last week:</b><span class="count-num">@Model.TotalHitRequestLastWeek</span>
                </div>
                <div class="col-12 col-lg-4">
                    <b>Total Hit in Last month:</b><span class="count-num">@Model.TotalHitRequestLastMonth</span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
	 var list= JSON.parse('@Html.Raw(Model.YearWiseCountsInString)');
	 console.log(list);
	</script>
}