@using Newtonsoft.Json
@model EcdsApp.Models.ViewModels.Dashboard.DashboardVm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mapData = JsonConvert.SerializeObject(Model.DistrictWisePoverties);
    var legendData = JsonConvert.SerializeObject(Model.LayerLegendColors);

    //var xLabels = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.District.DistrictName));
    //var yMale = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Male));
    //var yFemale = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Female));
    //var yUrban = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Urban));
    //var yRural = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Rural));
    //var yOther = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Other));
    //var yTotal = JsonConvert.SerializeObject(Model.DistrictWisePopulations.Select(x => x.Total));

}
@section Styles{

    <link href="~/assets/libs/leaflet/leaflet.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/mapstyle.css" rel="stylesheet" />
    @*<link href="~/assets/libs/bootstrap/css/bootstrap-select.css" rel="stylesheet" />*@

    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" />
    <style>
        .legend_info {
            padding: 1px;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
            /*font-size: 1vw;*/
            font: 400 14px/1.0 Roboto, Helvetica, Arial, sans-serif;
            /*overflow: scroll;*/
            min-height: 100px;
            max-height: 400px;
            /* resize: both;*/
            text-align: left;
        }

            .legend_info i {
                width: 20px;
                height: 15px;
                float: left;
                margin-right: 10px;
                opacity: 0.7;
                font: 400 14px/1.0 Roboto, Helvetica, Arial, sans-serif;
            }

            .legend_info p {
                padding: 0.2vw;
            }

        .mapLabel {
            height: auto !important;
            width: auto !important;
            /*font-weight: bold;
            color: #025 line-height: 1;*/
            padding: 0.2rem 0.3rem;
            text-align: center;
            font-weight: bold;
            font-size: 0.5rem;
            color: #000000;
            text-shadow: 0 0 1px #aaa;
            background: rgba(250,250,250,0.45);
            border-radius: 0.25rem;
        }
    </style>
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        @*<p>The severe cyclonic storm 'YAAS' with a wind speed of 150 km/h crossed the west coast of Bangladesh and affected approximately 1.3 million people, damaged around 26,000 houses, 16,183 latrines, 1,986 water points, 39% of croplands and affected 3,599 hectares of prawn and pisciculture areas in nine coastal districts.</p>*@
                        @*<div class="float-end mt-2">
                            <div id="total-revenue-chart"></div>
                        </div>*@
                        <div>
                            <h1 class="mb-1 mt-1"><span data-plugin="counterup">6</span></h1>
                            <p class="text-muted mb-0">No of Theme</p>
                        </div>
                        @*<p class="text-muted mt-3 mb-0">
                            <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i>2.65%</span> since last week
                        </p>*@
                        
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">

                    <div class="card-body">
                        @*<div class="float-end mt-2">
                            <div id="orders-chart"> </div>
                        </div>*@
                        <div>
                            <h1 class="mb-1 mt-1"><span data-plugin="counterup">21</span></h1>
                            <p class="text-muted mb-0">No of Sub-theme</p>
                        </div>
                        @*<p class="text-muted mt-3 mb-0">
                            <span class="text-danger me-1"><i class="mdi mdi-arrow-down-bold me-1"></i>0.82%</span> since last week
                        </p>*@
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        @*<div class="float-end mt-2">
                            <div id="customers-chart"> </div>
                        </div>*@
                        <div>
                            <h1 class="mb-1 mt-1"><span data-plugin="counterup">@ViewBag.LayerCount</span></h1>
                            <p class="text-muted mb-0">No of Layer Added</p>
                        </div>
                        @*<p class="text-muted mt-3 mb-0">
                            <span class="text-danger me-1"><i class="mdi mdi-arrow-down-bold me-1"></i>6.24%</span> since last week
                        </p>*@
                    </div>
                </div>
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">

                <div class="card">
                    <div class="card-body">
                        @*<div class="float-end mt-2">
                            <div id="growth-chart"></div>
                        </div>*@
                        <div>
                            <h1 class="mb-1 mt-1"><span data-plugin="counterup">595</span></h1>
                            <p class="text-muted mb-0">No of Upazila</p>
                        </div>
                        @*<p class="text-muted mt-3 mb-0">
                            <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i>10.51%</span> since last week
                        </p>*@
                    </div>
                </div>
            </div> <!-- end col-->
        </div> <!-- end row-->

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        @*<h4 class="card-title mb-4">
                                District Wise Population
                                <select id="DistCode" class="select2 form-control select2-multiple" asp-items="ViewBag.DistrictList" multiple="multiple" data-placeholder="Choose ..."></select>

                            </h4>*@

                        <div class="mb-0">
                            <label class="form-label"> District Wise Population</label>

                            <select id="DistCode" class="select2 form-control select2-multiple" asp-items="ViewBag.DistrictList" multiple="multiple" data-placeholder="Choose ..."></select>
                        </div>



                        <div id="dash_chart1" class=" apex-charts text-center" style="min-height:600px; padding:0.75rem;">
                            <div class="spinner-grow text-info" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                                <span class="sr-only">Loading... . .</span>
                            </div>
                        </div>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">

                        <div id="dashboard_map" class="text-center" style="min-height:600px; padding:0.75rem;">
                            <div class="spinner-grow text-info" style="width:5rem; height:5rem; margin-top:4.5rem;" role="status">
                                <span class="sr-only">Loading... . .</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- end Col -->
        </div> <!-- end row-->
        <!-- end row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Latest Five Layer List</h4>
                        <div class="table-responsive">
                            <table id="tblLayerData" class="table table-centered table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr class="bg-transparent">
                                        <th>Theme Name</th>
                                        <th>Sub-theme Name</th>
                                        <th>Layer Name</th>
                                        <th>Layer Type</th>
                                        @*<th>Boundary</th>*@
                                        <th>Tabular Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ThemeLayerDetails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubThemes.Themes.ThemeName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubThemes.SubThemeName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.LayerDisplayName)
                                            </td>

                                            <td>@item.ThemeLayerTypes?.LayerTypeName</td>
                                            @*<td>@item.BoundaryInfo?.BoundaryName</td>*@
                                            <td>
                                                <a class="badge bg-pill bg-soft-info font-size-14" target="_blank" asp-controller="@item.TableInfo?.TableModelName" asp-action="Index" style="color: #191c1e">
                                                    @Html.DisplayFor(modelItem => item.TableInfo.DisplayName)
                                                </a>
                                            </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>

@section Scripts{
    <!-- apexcharts -->
    <script src="~/assets/libs/leaflet/leaflet.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    @*<script src="~/assets/js/pages/dashboard.init.js"></script>*@
    <script src="~/assets/js/pages/dashboard.init.js"></script>
    @*<script src="~/assets/libs/bootstrap/js/bootstrap-select.js"></script>*@
    <script src="~/assets/libs/select2/js/select2.min.js"></script>

    <script type="text/javascript">
        var dashboard_map;
        var legend = L.control({ position: 'topright' });
        var legend_div = L.DomUtil.create('div', 'legend_info');
        var mapLabels = L.layerGroup();
        var legendcolorField = "DistGeoCod";

        var legend_data = [];
        var layer_Data = [];
        layerMapData = {};

        var dist = [];
        var male = [];
        var female = [];
        var total = [];
        var optionsChart = {};
        getMapData();
        mapInit();
        addLayer();
        $('.select2').select2();


        jQuery.ajax({
            url: loadChart(),
            success: function () {
                drawChar();
            }
        });




        function mapInit() {
            var openstreet = L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", { id: 'MapID', minZoom: 0, maxZoom: 25 }),
                blank = L.tileLayer("../images/blank.png", { id: 'MapID', minZoom: 0, maxZoom: 25 }
                );


            dashboard_map = new L.Map("dashboard_map",
                {
                    center: new L.LatLng(23.737777, 90.537777),
                    fullscreenControl: false,
                    zoomControl: false,
                    maxZoom: 20,
                    minZoom: 2,
                    zoom: 6.0,
                    layers: [openstreet],

                });
            dashboard_map.setView([23.837777, 90.347777], 7.0);
            L.control.zoom({
                position: 'bottomleft'
            }).addTo(dashboard_map);
        }

        function addLayer() {
            var layerPath = "../ecds/assets/js/map/map_data/administrative/administrative_boundary/district/district.json";
            var layerData = L.geoJson(null, {
                style: style,
                onEachFeature: onEachFeature,
            });


            $.getJSON(layerPath, function (LayerInfo) {
                if (!LayerInfo) return;
                layerData.addData(LayerInfo);
            }).done(function (e) {
                dashboard_map.addLayer(layerData);
            });
            function style(feature) {
                var color = getColor(layerMapData[feature.properties[legendcolorField]]);
                return {
                    fillColor: color,
                    weight: 1,
                    opacity: 0.5,
                    /* transparent: true,*/
                    color: color,
                    /*dashArray: '1',*/
                    fillOpacity: 0.9
                };

            }
            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                });

                var label = L.marker([layer.feature.properties['CntLat'], layer.feature.properties['CntLong']], {
                    icon: L.divIcon({
                        className: 'label mapLabel',
                        html: feature.properties['DistName'],
                        iconSize: [50, 20],
                    })
                });
                mapLabels.addLayer(label);
                //dashboard_map.addLayer(mapLabels);
            }
            function highlightFeature(e) {
                var layer = e.target;
                var popupContent = '<div style="width:120px;text-align:center;"><p>' + layer.feature.properties["DistName"]+" : " + layerMapData[layer.feature.properties["DistGeoCod"]] + '(%)</p></div>';
                //layer.bindPopup(popupContent).openPopup(e.latlng);

                layer.setStyle({
                    weight: 2,
                    //color: '#E11F21',
                    dashArray: '',
                    fillOpacity: 0.4
                }).bindPopup(popupContent).openPopup(e.latlng);

                //if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                //    layer.bringToFront();
                //}
            }
            function resetHighlight(e) {
                dashboard_map.closePopup();
                layerData.resetStyle(e.target);
            }

            legend.onAdd = function (map) {
                legend_data =@Html.Raw(legendData);
                legend_div.innerHTML += '<p style="text-decoration: underline;">District Wise Poverty Rate(%) </p>';
                for (var i = 0; i<legend_data.length; i++) {

                    legend_div.innerHTML += '<p class="">' + legend_data[i].LayerLegendDisplayName + '<i style="background:' + legend_data[i].LayerLegendColorCode + '"></i> </p>';
                }
                return legend_div;
            };
            legend.addTo(dashboard_map);
        }

        function getColor(d) {

            for (var i = 0; i < legend_data.length; i++) {
                if (d >= legend_data[i].LayerMainAttribureValue && d < legend_data[i+1].LayerMainAttribureValue) {
                    return legend_data[i].LayerLegendColorCode;
                }
                else if (d >= legend_data[legend_data.length - 1].LayerMainAttribureValue) {
                    return legend_data[legend_data.length - 1].LayerLegendColorCode;
                }
            }
        }
        function getMapData() {
            layer_Data =@Html.Raw(mapData);
            for (var i = 0; i < layer_Data.length; i++) {
                layerMapData[layer_Data[i].DistrictGeoCode] = layer_Data[i].PovertyRate;
            }
        }



        //$(function () {
        //    function groupTable($rows, startIndex, total) {
        //        if (total === 0) {
        //            return;
        //        }
        //        var i, currentIndex = startIndex, count = 1, lst = [];
        //        var tds = $rows.find('td:eq(' + currentIndex + ')');
        //        var ctrl = $(tds[0]);
        //        lst.push($rows[0]);
        //        for (i = 1; i <= tds.length; i++) {
        //            if (ctrl.text() === $(tds[i]).text()) {
        //                count++;
        //                $(tds[i]).addClass('deleted');
        //                lst.push($rows[i]);
        //            } else {
        //                if (count > 1) {
        //                    ctrl.attr('rowspan', count);
        //                    groupTable($(lst), startIndex + 1, total - 1);
        //                }
        //                count = 1;
        //                lst = [];
        //                ctrl = $(tds[i]);
        //                lst.push($rows[i]);
        //            }
        //        }
        //    }

        //    groupTable($('#tblLayerData tr:has(td)'), 0, 2);
        //    $('#tblLayerData .deleted').remove();
        //});


        $("#DistCode").change(function () {
            jQuery.ajax({
                url: loadChart(),
                success: function () {
                    drawChar();
                }
            });
        });

        function loadChart() {
            dist = [];
            male = [];
            female = [];
            total = [];
            var distCodeList = [];

            if ($("#DistCode").val().length > 0) {
                distCodeList = $("#DistCode").val();

            } else {
                distCodeList = ['3026','6091','5527','5081','1006','2015','4047'];
            }
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("GetChartData")",
                dataType: "json",
                data: { distCodeList: distCodeList },
                before: jQuery("#busy-indicator").fadeIn(150),
                success: function (datas) {
                    $.each(datas, function (i, item) {
                        dist.push(item.distName);
                        male.push(item.male);
                        female.push(item.female);
                        total.push(item.total);
                    });
                },
                error: function (ex, status, error) {

                },
                complete: function () {
                    jQuery("#busy-indicator").fadeOut(150);
                }
            });
        }
        function drawChar() {
            $("#dash_chart1").empty();
           var  optionsDashChart1 = {
                chart: { height: 512, type: "line", stacked: !1, toolbar: { show: !1 } },
                stroke: { width: [0, 2, 4], curve: "smooth" },
                plotOptions: { bar: { columnWidth: "15%" } },
                colors: ["#F2520C", "#F1B44C", "#5B73E8"], //"#F2860C","#F2E10C", "#F2B30C",
                series: [
                    { name: "Male", type: "column", data: male },
                    { name: "Female", type: "line", data: female },

                    { name: "Total Population", type: "area", data: total }
                ],
                fill: {
                    opacity: [.85, .85, 0.5],
                    gradient: { inverseColors: !1, shade: "light", type: "vertical", opacityFrom: .85, opacityTo: .55, stops: [0, 100, 100, 100] }
                },
                labels: dist,
                markers: { size: 0 },
                xaxis: { title: { text: "District" } },
                yaxis: { title: { text: "Population" } },
                tooltip: {
                    shared: !0, intersect: !1,
                    y: { formatter: function (e) { return void 0 !== e ? e.toFixed(0) + "" : e } }
                },
                grid: { borderColor: "#f1f1f1" }
            };

            (chart = new ApexCharts(document.querySelector("#dash_chart1"), optionsDashChart1)).render();

        }

    </script>
}