@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EcdsApp.Models.ViewModels.Map
@using EcdsApp.Models
<!-- Right Sidebar -->

<div class="right-bar">

    <div data-simplebar class="h-100">

        <div class="rightbar-title d-flex align-items-center px-3 py-4">

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>


        <h5 style="margin-left:5px" class="control-group">Map layer List</h5>
        <div id="sidebar-menu">
            @*Left Menu Start*@
            <ul class="metismenu list-unstyled map_layer_list">
                <li style="text-align:center">No Layer Added</li>
            </ul>
        </div>

        <div class="row" style="margin-left:5px">
            <label for="customRange3" class="form-label">Opacity</label>
            0%<input oninput="DisplayChange(this.value)" type="range" class="form-range" min="0.0" max="1.0" step="0.1" value="0.6">100%
        </div>

        <div class="row">




            <h5 style="margin-left:5px" class="control-group">Map Filtering</h5>

            <div class="col-xl-4 m-2">
                <div class="form-check ">
                    <input type="radio" id="radioDivision" name="radio" class="form-check-input" value="Division"><label class="form-check-label" for="radioDivision">Division</label>
                </div>

                <div class="form-check">
                    <input type="radio" id="radioDistrict" name="radio" class="form-check-input" value="District"><label class="form-check-label" for="radioDistrict">District</label>
                </div>

                <div class="form-check">
                    <input type="radio" id="radioUpazila" name="radio" class="form-check-input" value="Upazila"><label class="form-check-label" for="radioUpazila">Upazila</label>
                </div>
            </div>


        </div>

        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Select Division
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                     aria-labelledby="headingOne" data-bs-parent="#DivisionList">
                    <div class="accordion-body">
                        <ul class="metismenu list-unstyled">
                            @foreach (AdminBoundaryDivision item in ViewBag.DivList)
                            {

                                <li>
                                    <a><input type="checkbox" id="div_@item.DivisionGeoCode" value="@item.DivisionGeoCode" class="DivisionList"><label for="div_@item.DivisionGeoCode">@item.DivisionName</label></a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="DistrictList">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                        Select District
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse"
                     aria-labelledby="headingOne" data-bs-parent="#DistrictList">
                    <div class="accordion-body">
                        <ul class="metismenu list-unstyled">
                            @foreach (AdminBoundaryDistrict item in ViewBag.DistList)
                            {
                                <li>
                                    <a><input type="checkbox" id="dist_@item.DistrictGeoCode" value="@item.DistrictGeoCode"><label for="dist_@item.DistrictGeoCode">@item.DistrictName</label></a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="UpazilaList">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingUpazila">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseUpazila" aria-expanded="true"
                            aria-controls="collapseUpazila">
                        Select Upazila
                    </button>
                </h2>
                <div id="collapseUpazila" class="accordion-collapse collapse"
                     aria-labelledby="headingOne" data-bs-parent="#UpazilaList">
                    <div class="accordion-body">
                        <ul class="metismenu list-unstyled">
                            @foreach (AdminBoundaryUpazila item in ViewBag.UpazList)
                            {
                                <li>
                                    <a><input type="checkbox" id="@item.UpazilaGeoCode" value="@item.UpazilaGeoCode"><label for="@item.UpazilaGeoCode">@item.UpazilaName</label></a>
                                </li>

                            }
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <button id="layerFilter" type="button" class="btn btn-success waves-effect waves-light m-3">
            <i class="uil uil-check me-2"></i> Apply Filter
        </button>





    </div> <!-- end slimscroll-menu-->
</div>

@section Scripts{
    <script>
        //jQuery(function () {
        //    jQuery("#sortable").sortable();
        //    jQuery("#sortable").disableSelection();
        //});
    </script>
}

<!-- /Right-bar -->