@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<EcdsApp.Models.AdminBoundaryDistrict>

@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <!-- leaflet Css -->
    <link href="~/assets/libs/leaflet/leaflet.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="~/assets/libs/leaflet/leaflet.draw.css" />*@
    <link href="~/assets/css/leaflet.draw.css" rel="stylesheet" />
    <link href="~/assets/css/mapstyle.css" rel="stylesheet" />

    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <style>

        /* .leaflet-map {
            height: 100vh ;
        }*/

        /* .right-bar{
            width:400px!important;
        }*/

        /* body[data-layout=horizontal] .page-content {
            margin-top: calc(80px + 1.25rem) calc(1.25rem / 2) 60px calc(1.25rem / 2);

        }*/

        .table > thead > tr > th {
            width: 15vw !important;
        }

        .leaflet-draw-toolbar-top {
            margin-top: 90px !important
        }

        .leaflet-bottom .leaflet-left {
            z-index: 950 !important;
        }

        .mapLabel {
            height: auto !important;
            width: auto !important;
            /*font-weight: bold;
            color: #025 line-height: 1;*/
            padding: 0.2rem 0.3rem;
            text-align: center;
            font-weight: bold;
            font-size: 0.7rem;
            color: #123;
            text-shadow: 0 0 1px #aaa;
            /*background: rgba(250,250,250,0.45);*/
            border-radius: 0.25rem;
        }

        .legend_info {
            padding: 1px;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
            /*font-size: 1vw;*/
            font: 400 14px/1.0 Roboto, Helvetica, Arial, sans-serif;

            overflow: scroll;
            min-height: 100px;
            max-height: 400px;
            resize: both;
        }

            .legend_info i {
                /* width: 1.5vw;
                height: 1.5vw;*/
                width: 20px;
                height: 15px;
                float: left;
                /*margin-right: 1vw;*/
                margin-right: 10px;
                opacity: 0.7;
                /*font-size: 1vw;*/
                font: 400 14px/1.0 Roboto, Helvetica, Arial, sans-serif;
            }

            .legend_info p {
                padding: 0.2vw;
            }

        .map_btns_content {
            z-index: 1000;
            position: absolute;
            /*top: 150px;*/
            left: auto;
            right: 1%;
            width: 50px;
            height: auto;
            margin: 0;
            padding: 0;
            text-align: right;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .map_left_content {
            z-index: 1000;
            position: absolute;
            /*top: 240px;*/
            border: 0 none;
            padding: 5px 6px;
            cursor: pointer;
            background: #ffffff00 none repeat scroll 0 0;
            box-shadow: 0 1px 3px 4px rgb(0 0 0 / 25%);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            transition-property: left, right;
            transition-duration: 0.15s, 0.15s;
            transition-delay: 0.15s, 0.15s;
        }

        .map_left_content_img {
            background: transparent url('../images/bottom_arrow.png') no-repeat center left/100% auto !important;
        }



        .map_btns {
            display: inline-block;
            /*border: 2px solid rgba(255, 255, 255, 0.01);*/
            border: 2px solid rgba(0, 0, 0, 0.25);
            width: 40px;
            height: 38px;
            margin: 0 3px;
            padding: 6px;
            font: 400 14px/1.0 Roboto, Helvetica, Arial, sans-serif;
            color: #777;
            text-align: center;
            background-color: #fff;
            cursor: pointer;
            border-radius: 5px;
            background-clip: padding-box;
            /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);*/
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-size 0.15s;
        }

        .map_opt_content {
            padding: 5px;
            margin-top: 120px;
            margin-left: 100px;
            z-index: 1000;
            position: absolute;
            border: 1px solid #e5e7e8;
            width: auto;
            background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
            border-radius: 3px border-radius: 5px;
            font-size: 1vw;
        }

        #AttributeDiv {
            display: none;
            padding: 5px;
            margin-top: 100px;
            margin-left: 45px;
            z-index: 1000;
            position: absolute;
            border: 1px solid #e5e7e8;
            background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
            border-radius: 3px border-radius: 5px;
            font-size: 1vw;
            overflow: scroll;
            min-height: 300px;
            width: 500px;
            max-height: 400px;
            resize: both;
        }
        /*.map_title {
            padding: 5px;
            margin-top: 400px;*/
        /* margin-left:100px;*/
        /*z-index: 1000;
            position: absolute;
            border: 1px solid #e5e7e8;
            width: auto;
            background: rgba(255, 255, 255, 0.85) none repeat scroll 0 0;
            border-radius: 3px border-radius: 5px;
            font-size: 1vw;
            overflow: scroll;
            height: 300px;
        }*/
        .map_legend {
            height: 450px;
            overflow-y: scroll;
        }

        .map_bg_layers {
            color: black;
            background: #fff;
        }




        .my-div-icon {
            color: black;
            outline-color: black;
        }
    </style>
}

<div>
    @*<div class="row custom-map map_content">*@
    <partial name="_MapRightSideBar" />

    @*<partial name="_MapRightSideBarCopy" />*@
    <partial name="_MapModals" />





    @*<div class="map_opt_content">
            <p><input type="checkbox" id="map_label_opt" title="Show/Hide Map Label" />Label</p>
            <p><input type="checkbox" id="map_navigation" title="Auto Change Map" />Navigation</p>
        </div>*@


    @*<div class="map_title" style="text-align:center">
            <p style="text-align: center; font: bold 17px/1.5 Roboto, Helvetica, Arial, sans-serif;text-decoration:underline" id="map_title">Layer List</p>
        </div>*@
    <div id="map_btns_content" class="map_btns_content">
        <div id="filter_option" class="map_btns btn_map_layers" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable" title="Add Map Layer"></div>
        <div id="map_layer" class="map_btns right-bar-toggle waves-effect" title="Map Filtering"> </div>
        <div id="map_bg_layers" class="map_btns btn_map_bglayers" title="Select the Map Background Layer"></div>
        <div id="map_reset" class="map_btns map_reset" onclick="map_reset()" title="Reset Map"> </div>
        <div id="map_center" class="map_btns btn_full_extent" title="Full extent the map"> </div>
        <div class="map_btns" title="Show or Hide Map Label"><input type="checkbox" id="map_label"></div>
        <div id="map_download" class="map_btns btn_map_download" title="Download" onclick="downloadMap('');"> </div>
    </div>

    <div id="map_left_content" class="map_left_content">
        @*<div id="filter_option" class="map_btns btn_map_layers" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable" title="Add Map Layer"></div>*@
        <div id="map_layer_draw" class="map_draw_arrow_img" title="Draw Map" style="float:left"> </div>
        <div id="map_layer_data" class="map_draw_arrow_img" title="Attribute Information" style="float:right"> </div>
    </div>

    <div id="AttributeDiv">
        <h3>Attribute Table Information</h3>
    </div>


    <div id="basic-map" class="leaflet-map page-content"></div>
</div>


@section Scripts{
    <!-- leaflet plugin -->
    <script src="~/assets/libs/leaflet/leaflet.js"></script>

    <!-- Map Export -->
    <script src="~/assets/libs/leaflet/leaflet_export.js"></script>
    <script src="~/assets/libs/leaflet/html2canvas.js"></script>

    <!-- Leaflet Map Draw -->
    <script src="~/assets/libs/leaflet/Leaflet.draw.js"></script>
    <script src="~/assets/libs/leaflet/Leaflet.Draw.Event.js"></script>

    <script src="~/assets/libs/leaflet/Toolbar.js"></script>
    <script src="~/assets/libs/leaflet/Tooltip.js"></script>

    <script src="~/assets/libs/leaflet/GeometryUtil.js"></script>
    <script src="~/assets/libs/leaflet/LatLngUtil.js"></script>
    <script src="~/assets/libs/leaflet/LineUtil.Intersect.js"></script>
    <script src="~/assets/libs/leaflet/Polygon.Intersect.js"></script>
    <script src="~/assets/libs/leaflet/Polyline.Intersect.js"></script>
    <script src="~/assets/libs/leaflet/TouchEvents.js"></script>

    <script src="~/assets/libs/leaflet/DrawToolbar.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Feature.js"></script>
    <script src="~/assets/libs/leaflet/Draw.SimpleShape.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Polyline.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Marker.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Circle.js"></script>
    <script src="~/assets/libs/leaflet/Draw.CircleMarker.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Polygon.js"></script>
    <script src="~/assets/libs/leaflet/Draw.Rectangle.js"></script>

    <script src="~/assets/libs/leaflet/EditToolbar.js"></script>
    <script src="~/assets/libs/leaflet/EditToolbar.Edit.js"></script>
    <script src="~/assets/libs/leaflet/EditToolbar.Delete.js"></script>

    <script src="~/assets/libs/leaflet/Control.Draw.js"></script>

    <script src="~/assets/libs/leaflet/Edit.Poly.js"></script>
    <script src="~/assets/libs/leaflet/Edit.SimpleShape.js"></script>
    <script src="~/assets/libs/leaflet/Edit.Rectangle.js"></script>
    <script src="~/assets/libs/leaflet/Edit.Marker.js"></script>
    <script src="~/assets/libs/leaflet/Edit.CircleMarker.js"></script>
    <script src="~/assets/libs/leaflet/Edit.Circle.js"></script>

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/libs/jquery-ui-dist/jquery-ui.min.js"></script>


    <script>

    var top_height = $('#page-topbar').height();
    var footer_height = $('.footer').height();

        $('.leaflet-map').css("height", ($(window).height() - top_height - footer_height));
        //$('.leaflet-map').css("height", ($(window).height() - top_height));
    $('.map_btns_content').css("top", (top_height+10));
    $('.map_left_content').css("top", (top_height + 10));


    $(window).resize(function () {
        top_height = $('#page-topbar').height();
        footer_height = $('.footer').height();
        $('.leaflet-map').css("height", ($(window).height() - top_height - footer_height));
       // $('.leaflet-map').css("height", ($(window).height() - top_height));
        $('.map_btns_content').css("top", (top_height+10));
        $('.map_left_content').css("top", (top_height + 10));

    });

        const divBoundaryType = 1;
        const distBoundaryType = 2;
        const upazBoundaryType = 3;

    var test;
    var layerData;

        $(function () {
            jQuery(".select2").select2();
        });


        var data_layer = {};

        var data_layer_details = {};
        //var colorList = {};
        var userDefinedColorList = {};
        var mapBindData = {};



        var legend = L.control({ position: 'bottomright' });
        var legend_div = L.DomUtil.create('div', 'legend_info');
        var admin_code_list = [];
        var dist_list = [];
        var upaz_list = [];

        var g_opacity, g_fillOpacity, g_weight, g_color;
        var g_tableId, g_boundaryId;




        var mapLabels = L.layerGroup();
        var g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField;
        mapInit();
        //LayerShowHide('1', '"administrative'+'\'+'admin_data'+'\' + 'division' + '\'+'divsion.json"', 'div_name', 'div_code', 'C_LAT', 'C_LONG', 'DIVISION', '1');

        //Initially Map Load
        function mapInit() {

            var blankUrl = "../images/blank.png",
                osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                googleUrlHy = "http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}",
                googleUrlSa = "http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}",
                googleUrlSt = "http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}",
                googleUrlTr = "http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}",
                myCustomrUrl = "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibW9zaGl1cmNzZSIsImEiOiJjazExcGZ4bjAwaXltM2NyaDdhajlyd2FkIn0.c_SEmtkCpdNmBpogXYkUng",
                mapbUrl = "https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWxoYWRpLWNzZSIsImEiOiJjamx1azJ5emcwamlkM3ZxeHB0ajB0d3I1In0.k_DovXLLPpp7fQ_i685ocA",
                esriUrl = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                mapAttrib = "Map data © <a href='https://www.cegisbd.com/' target='_blank'>CEGIS</a>";

            var openstreet = L.tileLayer(osmUrl, { id: 'MapID', minZoom: 0, maxZoom: 25, attribution: mapAttrib }),
                googleHy = L.tileLayer(googleUrlHy, { id: 'MapID', minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
                googleSa = L.tileLayer(googleUrlSa, { id: 'MapID', minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
                googleSt = L.tileLayer(googleUrlSt, { id: 'MapID', minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
                googleTr = L.tileLayer(googleUrlTr, { id: 'MapID', minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
                myCustomr = L.tileLayer(myCustomrUrl, { id: 'moshiurcse.ckxd3f9kf08k528mp8e8ius4i-0vqks', minZoom: 0, maxZoom: 25, subdomains: ["mt0", "mt1", "mt2", "mt3"], attribution: mapAttrib }),
                //mapboxLi = L.tileLayer(myCustomrUrl, { id: 'MapID', minZoom: 0, maxZoom: 25, id: "mapbox.light", attribution: mapAttrib }),
                //mapboxSt = L.tileLayer(myCustomrUrl, { id: 'MapID', minZoom: 0, maxZoom: 25, id: "mapbox.streets", attribution: mapAttrib }),
                esri = L.tileLayer(esriUrl, { id: 'MapID', minZoom: 0, maxZoom: 25, attribution: mapAttrib }),

                blank = L.tileLayer(blankUrl, { id: 'MapID', minZoom: 0, maxZoom: 25, attribution: mapAttrib });


            mymap = new L.Map("basic-map",
                {
                    center: new L.LatLng(23.737777, 90.537777),
                    fullscreenControl: true,
                    zoomControl: false,
                    maxZoom: 20,
                    minZoom: 2,
                    zoom: 6.0,
                    layers: [openstreet],

                });




            mymap.setView([23.837777, 90.347777], 7.0);

            var baseMaps = {
                "Open Street": openstreet,
                "Google Hybrid": googleHy,
                "Google Satellite": googleSa,
                "Google Streets": googleSt,
                "Google Terrain": googleTr,
                "My Customr": myCustomr,
                //"Mapbox Light": mapboxLi,
                //"Mapbox Streets": mapboxSt,
                "ESRI": esri,
                "None": blank
            };

            //mymap.createPane("admin-layer").style.zIndex = 405;
            //mymap.createPane("label-layer").style.zIndex = 601;


            L.tileLayer("", { attribution: mapAttrib }).addTo(mymap);
            L.control.scale().addTo(mymap);
            //L.control.zoom().addTo(mymap);

            L.control.zoom({
                position: 'bottomleft'
            }).addTo(mymap);



            //var zoom = document.getElementsByClassName('leaflet-control-zoom')[0];
            //var draggableZoom = new L.Draggable(zoom);
            //draggableZoom.enable();



            var drawnItems = L.featureGroup().addTo(mymap);

            mymap.addControl(new L.Control.Draw({
                edit: {
                    featureGroup: drawnItems,
                    poly: {
                        allowIntersection: false
                    }
                },
                draw: {
                    polygon: {
                        allowIntersection: false,
                        showArea: true
                    }
                }
            }));

            mymap.on(L.Draw.Event.CREATED, function (event) {
                var layer = event.layer;

                drawnItems.addLayer(layer);
            });



            //mymap.on('zoomend', function () {
            //    if ($('#map_navigation').is(":checked")) {
            //        if (mymap.getZoom() >= 10) {
            //            mapZoom = mymap.getZoom();
            //            adminUpazila();

            //        }
            //        if (mymap.getZoom() <= 7) {
            //            mapZoom = mymap.getZoom();
            //            adminDistrict();
            //        }
            //    }

            //});


            //mymap.on("mousemove",
            //    function (evt) {
            //        $("#map_cord_info").html(evt.latlng.lat.toFixed(8) + ", " + evt.latlng.lng.toFixed(8));
            //    });


            $("#map_center").on("click",
                function (e) {
                    mymap.setView([23.737777, 90.537777], 7.0);
                });

            bgLayers = L.control.layers(baseMaps, {'drawlayer': drawnItems }, { collapsed: false });
            bgLayers.addTo(mymap);


            //mymap.on('zoomend', function (evt) {

            //    hideOverlappingTooltips();
            //});


            var bgLayersContent = $(bgLayers.getContainer());
            bgLayersContent.find("a.leaflet-control-layers-toggle").remove();
            bgLayersContent.find("form.leaflet-control-layers-list").css("display", "block");
            $("#map_bg_layers").append(bgLayersContent);

        }

        function LayerShowHide(layerUid, layerId, filepath, mainAttDisName, mainAtt, attCode, cLat, cLong, firstAttDisName, firstAtt, layerName, layerTypeId, isLegendColor, legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, boundaryId, tableId) {

                g_layerUid = layerUid;
                g_layerId = layerId;
                g_filepath = filepath;
                g_mainAttDisName = mainAttDisName;
                g_mainAtt = mainAtt;
                g_attCode = attCode;
                g_cLat = cLat;
                g_cLong = cLong;
                g_firstAttDisName = firstAttDisName;
                g_firstAtt = firstAtt;
                g_layerName = layerName;
                g_layerTypeId = layerTypeId;
                g_isLegendColor = isLegendColor;
                g_legendcolorField = legendcolorField;

                g_opacity = opacity;
                g_fillOpacity = fillOpacity;
                g_weight = weight;
                g_color = color;

                g_boundaryId = boundaryId;
                g_tableId = tableId;

            data_layer_details[layerId] = new Map(
                [
                    ["layerUid", layerUid],
                    ["layerId", layerId],
                    ["filepath", filepath],
                    ["mainAttDisName", mainAttDisName],

                    ["mainAtt", mainAtt],
                    ["attCode", attCode],
                    ["cLat", cLat],
                    ["cLong", cLong],
                    ["firstAttDisName", firstAttDisName],
                    ["firstAtt", firstAtt],
                    ["layerName", layerName],
                    ["layerTypeId", layerTypeId],
                    ["isLegendColor", isLegendColor],
                    ["legendcolorField", legendcolorField],
                    ["opacity", opacity],
                    ["fillOpacity", fillOpacity],
                    ["weight", weight],
                    ["color", color],
                    ["boundaryId", boundaryId],
                    ["tableId", tableId]
                ]);




            var layerPath = "../assets/js/map/map_data/" + filepath;



            if (mymap.hasLayer(data_layer[layerId])) {
                mymap.removeLayer(data_layer[layerId]);
                mymap.removeLayer(legend);
                $("p." + layerId).remove();
                $("#map_layer_" + layerId).remove();
                //colorList = {};
                mymap.removeLayer(mapLabels);
                mapLabels = L.layerGroup();
            }


            data_layer[layerId] = L.geoJson(null, {
                style: style,
                onEachFeature: onEachFeature,
            });


                $.getJSON(layerPath, function (LayerInfo) {
                    if (!LayerInfo) return;

                    data_layer[layerId].addData(LayerInfo);
                    layerData = LayerInfo;
                    /*console.log(layerData);*/

                }).done(function (e) {
                    mymap.addLayer(data_layer[layerId]);



                    if (isLegendColor == 1) {
                        legendAndInfo(e, mainAtt, attCode, layerId, layerName, isLegendColor, legendcolorField);
                    }

                    updateMapLayerList(layerId);
                    //$(".map_layer_list").empty()

                    //$.each(data_layer, function (index, val) {
                    //    if (index == layerId) {

                    //        $(".map_layer_list").append('<li id="map_layer_' + index + '" style="background: rosybrown;"><a href="javascript: void(0);" class="waves-effect"><i class="bx bx-plus-medical"></i><span title="Top Layer">' + index + '</span></a></li>')
                    //    } else {
                    //        $(".map_layer_list").append('<li id="map_layer_' + index + '"><a href="javascript: void(0);" class="waves-effect"><i class="bx bx-plus-medical"></i><span>' + index + '</span></a></li>')
                    //    }
                    //});


                });


            function style(feature) {

                //await getColor(layerId, mapBindData[layerId][feature.properties[attCode]]);

                //var userColor = getColor(layerId, mapBindData[layerId][feature.properties[attCode]]);

                //console.log(userColor);

               //alert(feature.properties[attCode] + " : " + admin_code_list);
               //debugger;
                if (admin_code_list.includes(feature.properties[attCode].toString()) || admin_code_list.includes(feature.properties[attCode].toString().substr(0, 2)) ||
                    admin_code_list.includes(feature.properties[attCode].toString().substr(0, 4)) || admin_code_list.includes(feature.properties[attCode].toString().substr(0, 8))) {

                        //colorList[feature.properties[attCode]] = getRandomColor();
                    //mapBindData[layerId][feature.properties[attCode]].get('code')
                        return {
                            //fillColor: isLegendColor == 0 ? '#0000ffff' : userDefinedColorList[layerId + "_" + feature.properties[legendcolorField]], //colorList[feature.properties[attCode]],
                            //fillColor: isLegendColor == 0 ? '#0000ffff' : getColor(layerId, mapBindData[layerId][feature.properties[attCode]]), //colorList[feature.properties[attCode]],
                            fillColor: isLegendColor == 0 ? '#0000ffff' : getColor(layerId, mapBindData[layerId][feature.properties[attCode]].get('value')),
                            weight: weight,
                            opacity: opacity,
                            color: color,
                            dashArray: '1',
                            fillOpacity: fillOpacity
                        };


                } else if (admin_code_list.length == 0 && layerTypeId==4) {

                    //console.log(mapBindData[layerId][feature.properties[attCode]].get('value'));
                    //console.log(userDefinedColorList[layerId + "_"+mapBindData[feature.properties[attCode]]]);
                    //console.log(layerUid);
                    //console.log(mapBindData[layerUid][10420040]);
                    //colorList[feature.properties[attCode]] = getRandomColor();

                    //Moshiur
                    //console.log(attCode);
                    //console.log(feature.properties[attCode]);
                    //console.log(layerId);

                    //console.log(mapBindData[layerId]);

                    //console.log(mapBindData[layerId][feature.properties[attCode]]);
                    //console.log(mapBindData[layerId][feature.properties[attCode]].get('value'));

                    var tDataColor = getColor(layerId, mapBindData[layerId][feature.properties[attCode]].get('value'));

                    //console.log(mapBindData["exposure"]['10040009'].get('value'));
                    return {
                            //fillColor: isLegendColor == 0 ? '#ffffff00' : userDefinedColorList[feature.properties[legendcolorField]], //colorList[feature.properties[attCode]],
                            //fillColor: isLegendColor == 0 ? '#ffffff00' : userDefinedColorList[layerId][mapBindData[layerId][feature.properties[attCode]]],
                            //fillColor: isLegendColor == 0 ? '#ffffff00' : getColor(layerId, mapBindData[layerId][feature.properties[attCode]]),
                            fillColor: isLegendColor == 0 ? '#ffffff00' : tDataColor,
                            weight: weight,
                            opacity: opacity,
                            color: tDataColor,
                            /*dashArray: '1',*/
                            fillOpacity: fillOpacity
                        };
                }

                else if (isLegendColor == 1 && layerTypeId == 3) {
                    //console.log(feature.properties[legendcolorField]);
                    //console.log(getColor(layerId, feature.properties[legendcolorField]));
                    //console.log(userDefinedColorList[layerId]);


                    var uColor = getColor(layerId, feature.properties[legendcolorField]);
                    return {
                        //fillColor: isLegendColor == 0 ? '#ffffff00' : userDefinedColorList[feature.properties[legendcolorField]], //colorList[feature.properties[attCode]],
                        //fillColor: isLegendColor == 0 ? '#ffffff00' : userDefinedColorList[layerId][mapBindData[layerId][feature.properties[attCode]]],

                        fillColor:uColor ,
                        weight: weight,
                        opacity: opacity,
                        color: uColor,
                       /* dashArray: '1',*/
                        fillOpacity: fillOpacity
                    };
                }
                else {
                    //alert(color);
                    return {
                        fillColor: '#ffffff00',
                        weight: weight,
                        opacity: opacity,
                       /* transparent: true,*/
                        color: color,
                        /*dashArray: '1',*/
                        fillOpacity: fillOpacity
                    };
                }
            }
            function onEachFeature(feature, layer) {

                //if (admin_code_list.includes(feature.properties[attCode].toString()) || admin_code_list.includes(feature.properties[attCode].toString().substr(0, 2)) || admin_code_list.includes(feature.properties[attCode].toString().substr(0, 4)) || admin_code_list.includes(feature.properties[attCode].toString().substr(0, 6))) {

                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: function (e) {
                            var layer = e.target;
                            //mymap.fitBounds(e.target.getBounds());
                            //displayResult(e.target.feature.properties[adminCode]);
                            //layer.bindPopup('<div style="width:1000px;text-align:center;">Moshiurfdhslfhsd<p>'+mainAttDisName+" : " + feature.properties[mainAtt] + '</p>' + (firstAtt != null) ? '<p>' + (firstAttDisName + " : " + feature.properties[firstAtt] + ":" + feature.properties[mainAtt])+'</p>' : " " +'</div>');
                            //layer.bindPopup('<div style="width:300px;text-align:center;"><p>' + mainAttDisName + " : " + feature.properties[mainAtt] + '</p>' + ((firstAtt != null) ? '<p>' + (firstAttDisName + " : " + feature.properties[firstAtt]) + '</p>' : " ") + '</div>');

                            DisplayDetailsInfoes(feature.properties[attCode], mainAtt);
                        }
                    });


                //}

                //if (admin_code_list.length == 0) {
                //    layer.on({
                //        mouseover: highlightFeature,
                //        mouseout: resetHighlight,
                //        click: function (e) {
                //            var layer = e.target;
                //            //mymap.fitBounds(e.target.getBounds());
                //            //displayResult(e.target.feature.properties[adminCode]);
                //            //layer.bindPopup('<div style="width:1000px;text-align:center;">Moshiurfdhslfhsd<p>'+mainAttDisName+" : " + feature.properties[mainAtt] + '</p>' + (firstAtt != null) ? '<p>' + (firstAttDisName + " : " + feature.properties[firstAtt] + ":" + feature.properties[mainAtt])+'</p>' : " " +'</div>');
                //            layer.bindPopup('<div style="width:300px;text-align:center;"><p>' + mainAttDisName + " : " + feature.properties[mainAtt] + '</p>' + ((firstAtt != null) ? '<p>' + (firstAttDisName + " : " + feature.properties[firstAtt]) + '</p>' : " ") + '</div>');
                //        }
                //    });

                //}



                    if (cLat != null || cLong != null) {
                        mapLabelShowHide(feature, layer, layerId, mainAtt, cLat, cLong);
                    }

                //layer.bindTooltip(feature.properties[mainAtt].toString(), {
                //    permanent: true,
                //    className: 'myTooltip',
                //    point: L.point(layer.feature.properties[cLat], layer.feature.properties[cLong]),
                //    direction: 'center'
                //});

                //L.marker([layer.feature.properties[cLat], layer.feature.properties[cLong]], {
                //    radius: 0.1,
                //}).bindTooltip(feature.properties[mainAtt].toString(), { permanent: true, direction: "center", className: "myTooltip" }).openTooltip();


                //L.marker([layer.feature.properties[cLat], layer.feature.properties[cLong]], {
                //    icon: L.divIcon({
                //        className: 'label myTooltip',
                //        html: feature.properties[mainAtt],
                //        iconSize: [100, 40],
                //    })
                //}).bindTooltip(feature.properties[mainAtt].toString(), { permanent: true, direction: "center", className: "myTooltip" }).openTooltip();;
            }


            function highlightFeature(e) {
                var layer = e.target;

                //test = layer.feature.properties;

                //console.log(test);
                //alert(layer.feature.properties[mainAtt]);
                //mapBindData[layerId][feature.properties[attCode]].get('code')
                var popupContent = "";
                if (layerTypeId == 4) {
                    popupContent = '<div style="width:300px;text-align:center;"><p>' + mapBindData[layerId][layer.feature.properties[attCode]].get('value') + '</p></div>';
                } else {
                    var mainContent = '';
                    for (var i = 0; i < Object.getOwnPropertyNames(layer.feature.properties).length; i++) {
                        //console.log(Object.getOwnPropertyNames(layer.feature.properties)[i] + ":" + layer.feature.properties[Object.getOwnPropertyNames(layer.feature.properties)[i]])
                        mainContent += '<p>' + Object.getOwnPropertyNames(layer.feature.properties)[i] + " : " + layer.feature.properties[Object.getOwnPropertyNames(layer.feature.properties)[i]]+'</p>';
                    }

                    //popupContent = '<div style="width:300px;text-align:center;"><p>' + mainAttDisName + " : " + layer.feature.properties[mainAtt] + '</p>' + ((firstAtt != null) ? '<p>' + (firstAttDisName + " : " + layer.feature.properties[firstAtt]) + '</p>' : " ") + '</div>';
                    popupContent = '<div style="min-width:200px;text-align:center;">'+mainContent+'</div>';

                }

                layer.bindPopup(popupContent).openPopup(e.latlng);

                //layer.setStyle({
                //    //weight: 2,
                //    //color: '#E11F21',
                //    dashArray: '',
                //    //fillOpacity: 0.4
                //}).bindPopup(popupContent).openPopup(e.latlng);

                //if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                //    layer.bringToFront();
                //}
            }
            function resetHighlight(e) {
                mymap.closePopup();
                //data_layer[layerId].resetStyle(e.target);
            }

            /*console.log(data_layer[layerId]);*/
        }
//end Map Layer Hide Show Function

    function updateMapLayerList(layerId) {

        jQuery(".map_layer_list").empty();
        //data_layer_details
        jQuery.each(data_layer_details, function (layerNameU, val) {

            //if (layerNameU == layerId) {

            //    jQuery(".map_layer_list").append('<li id="map_layer_' + layerNameU + '" onclick= "setTopLayer(' + this.id +');"  style="background: rosybrown;"><a   class="waves-effect"><i class="bx bx-plus-medical"></i><span title="Top Layer">' + data_layer_details[layerNameU].get('layerName') + '</span></a></li>')
            //} else {
            //    jQuery(".map_layer_list").append('<li id="map_layer_' + layerNameU + '" onclick= "setTopLayer(' + this.id +');"><a   class="waves-effect"><i class="bx bx-plus-medical"></i><span>' + data_layer_details[layerNameU].get('layerName') + '</span></a></li>')
            //}

            if (layerNameU == layerId) {
                jQuery(".map_layer_list").append('<p title="Top Layer"  onclick="setTopLayer(\'' + layerNameU +'\')"  style="background: rosybrown;">' + data_layer_details[layerNameU].get('layerName') + '</p>')
            } else {
                jQuery(".map_layer_list").append('<p title="Set as Top Layer"  onclick="setTopLayer(\'' + layerNameU +'\')">' + data_layer_details[layerNameU].get('layerName') + '</p>')
            }
        });
    }




        // Add Legend in Map
        function legendAndInfo(e, mainAtt, attCode, layerId, layerName, isLegendColor, legendcolorField) {

            mymap.removeLayer(legend);

            //console.log(Object.keys(data_layer).length);

            jQuery(".legend_info").empty();



            if (isLegendColor == 0) {
                legend.onAdd = function (map) {
                    for (var i = 0; i < e.features.length; i++) {
                        if (i == 0) {
                            legend_div.innerHTML+= '<p class="' + layerId + '">' + layerName + ' </p>';
                        }
                        legend_div.innerHTML += '<p class="' + layerId + '">' + e.features[i].properties[mainAtt] + '<i style="background:' + getRandomColor() + '"></i> </p>'; //{' + legendEndRange[i] + '}
                    }
                    return legend_div;
                };
            } else {

                legend.onAdd = function (map) {



                    jQuery.each(userDefinedColorList, function (index, val) {

                        for (var i = 0; i < userDefinedColorList[index].length; i++) {

                            if (i == 0) {
                                legend_div.innerHTML += '<p class="' + index + '">' + userDefinedColorList[index][i].get('legendName') + ' </p>';
                            }
                            legend_div.innerHTML += '<p class="' + index + '">' + userDefinedColorList[index][i].get('name') + '<i style="background:' + userDefinedColorList[index][i].get('color') + '"></i> </p>';
                        }


                    });
                    //for (var i = 0; i < userDefinedColorList[layerId].length; i++) {

                    //    if (i == 0) {
                    //        legend_div.innerHTML += '<p class="' + layerId + '">' + layerName + ' </p>';
                    //    }
                    //    legend_div.innerHTML += '<p class="' + layerId + '">' + userDefinedColorList[layerId][i].get('name') + '<i style="background:' + userDefinedColorList[layerId][i].get('color') + '"></i> </p>';
                    //}

                    var draggable = new L.Draggable(legend_div);
                    draggable.enable()


                    return legend_div;
                };
            }

            legend.addTo(mymap);

        }

        //Get Random Color
        function getRandomColor() {
            var letters = '0123456789ABCDEF';

            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        //Get User Defined Color
    function getColor(layerId, d) {

        //console.log(userDefinedColorList["main_river"][0].get('color'));


        for (var i = 0; i < userDefinedColorList[layerId].length; i++) {

            if (userDefinedColorList[layerId].length == 1) {
                return userDefinedColorList[layerId][0].get('color');

            }

                if (d >= userDefinedColorList[layerId][i].get('value') && d < userDefinedColorList[layerId][i + 1].get('value')) {
                    return userDefinedColorList[layerId][i].get('color');
                }

                else if (d >= userDefinedColorList[layerId][userDefinedColorList[layerId].length - 1].get('value')) {
                    return userDefinedColorList[layerId][userDefinedColorList[layerId].length - 1].get('color');

                }
            }
        }


        //Set User Defined Color and Legend Name
        function getUserDefinedColor(layerUid, layerId,LegendName) {


            userDefinedColorList[layerId] = {};
            var colorList = [];

            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("GetUserDefinedLegendInfo")",
                dataType: "json",
                data: { layer_id: layerUid },
                before: jQuery("#busy-indicator").fadeIn(150),
                success: function (items) {

                    $.each(items,
                        function (i, item) {
                            colorList[i] = new Map([["legendName", LegendName],["color", item.colorCode], ["value", item.attCode], ["name", item.attName]]);
                        });
                    userDefinedColorList[layerId] = colorList;



                },
                error: function (ex, status, error) {
                    //msg.init("error",
                    //    "Error... . . !",
                    //    "Failed to load Shape file. " + ex.responseText);

                    window.Swal.fire({
                        icon: "error",
                        title: "Failed to load Shape file. " + ex.responseText,
                        showConfirmButton: false, //true
                        timer: 3000   // remove timer
                    });
                },
                complete: jQuery("#busy-indicator").fadeOut(150)
            });



        }



        function mapLabelShowHide(feature, layer, layerId, mainAtt, cLat, cLong) {

            //g_feature = feature, g_layer = layer, g_layerId=layerId,g_mainAtt = mainAtt; g_cLat = cLat; g_cLong = cLong;


            var label= L.marker([layer.feature.properties[cLat], layer.feature.properties[cLong]], {
                    icon: L.divIcon({
                        className: 'label mapLabel',
                        html: feature.properties[mainAtt],
                        iconSize: [100, 40],
                    })
                });
            mapLabels.addLayer(label);

            if (jQuery("#map_label").prop("checked") == true) {
                mymap.addLayer(mapLabels);
            }
            else {
                if (mymap.hasLayer(mapLabels)) {
                    mymap.removeLayer(mapLabels);
                }
            }
        }



        jQuery('#map_label').click(function ($) {
            if (jQuery("#map_label").prop("checked") == true) {
                mymap.addLayer(mapLabels);

            } else {
                if (mymap.hasLayer(mapLabels)) {
                    mymap.removeLayer(mapLabels);
                }
            }
        });



        jQuery('.layer_class').click(function ($) {
            //if (jQuery(this).closest('.layer_class').prev().find('input[type=checkbox]').prop('checked', true)) {
                var layerId = this.id;
            if (jQuery("#" + layerId).prop("checked") == true) {
                var opacity;
                var fillOpacity;
                var weight;
                var color;
                var path;
                var layerUid;
                var layerName;
                var mainAttCodeName;

                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("GetLayerInformation")",
                    dataType: "json",
                    data: { layer_id: jQuery("#" + this.id).val() },
                    before: jQuery("#busy-indicator").fadeIn(150),
                    success: function (items) {

                        if (items.isLegendColor == 1) {
                            getUserDefinedColor(items.layerId, layerId, items.layerName);
                            //console.log(console.log(userDefinedColorList));
                        }
                        opacity = (items.opacity == 0 ? 0.6 : items.opacity);
                        fillOpacity = (items.fillOpacity == 0 ? 0.6 : items.fillOpacity);
                        weight = (items.lineWeight == 0 ? 1 : items.lineWeight);
                        color = (items.lineColorCode == "0" ? "#000000" : items.lineColorCode);
                        path = items.themePath + "/" + items.subThemePath + "/" + items.layerPath + "/" + items.layerFileName;

                        layerUid = items.layerId;
                        layerName = items.layerName;


                        //g_layerUid = items.layerId;
                        //g_layerId = layerId;
                        //g_filepath = path;
                        //g_mainAttDisName = items.mainAttDisName;
                        //g_mainAtt = items.mainAtt;
                        //g_attCode = items.mainAttCode;
                        //g_cLat = items.cLat;
                        //g_cLong = items.cLong;

                        //g_firstAttDisName = items.firstAttDisName;
                        //g_firstAtt = items.firstAtt;
                        //g_layerName = items.layerName;
                        //g_layerTypeId = items.layerTypeId;
                        //g_isLegendColor = items.isLegendColor;
                        //g_legendcolorField = items.legendcolorField;

                        //g_opacity = opacity;
                        //g_fillOpacity = fillOpacity;
                        //g_weight = weight;
                        //g_color = color;
                        //g_boundaryId = items.boundaryId;
                        //g_tableId = items.tableId;



                        jQuery("#columnList_" + items.layerId).empty();

                        if (items.boundaryId == 3) {
                            path = items.boundaryPath;
                            g_filepath = path;
                            mainAttCodeName = "UpazGeoCod";
                            g_mainAtt = "UpazGeoCod";
                        }


                        if (items.layerTypeId == 4) {

                            var columnBindId = "columnList_" + items.layerId;

                            var tableId = items.tableId;
                            getTableColumnList(tableId, columnBindId);


                            jQuery("#" + columnBindId).change(function () {
                                //userDefinedColorList = {};
                                var columnName = jQuery("#" + columnBindId).val();
                                //getMapBindData(tableId, columnName, items.boundaryId, layerId);



                                //getMapBindData(tableId, columnName, items.boundaryId, layerId);
                                //jQuery.when(getMapBindData(tableId, columnName, items.boundaryId, layerId)).then(function () {
                                //    console.log(mapBindData);
                                //    console.log(userDefinedColorList);
                                //    LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, mainAttCodeName, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);


                                //});

                                jQuery.ajax({
                                    url: getMapBindData(tableId, columnName, items.boundaryId, layerId),
                                    success: function () {
                                        LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, mainAttCodeName, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);

                                    }
                                });


                                //LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, mainAttCodeName, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);
                                //LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);

                            });

                        }
                        else {
                            jQuery.ajax({
                                url: getUserDefinedColor(items.layerId, layerId, items.layerName),
                                success: function () {
                                    LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, items.mainAttCode, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);
                                }
                            });

                            //LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, items.mainAttCode, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);
                        }
                    },
                    error: function (ex, status, error) {
                        window.Swal.fire({
                            icon: "error",
                            title: "Failed to load Shape file. " + ex.responseText,
                            showConfirmButton: false, //true
                            timer: 3000   // remove timer
                        });
                    },
                    complete: function () {
                        jQuery("#busy-indicator").fadeOut(150)
                    }
                });
                //alert("OK");
                //LayerShowHide(items.layerId, layerId, path, items.mainAttDisName, items.mainAtt, items.mainAttCode, items.cLat, items.cLong, items.firstAttDisName, items.firstAtt, items.layerName, items.layerTypeId, items.isLegendColor, items.legendcolorField, admin_code_list, opacity, fillOpacity, weight, color, items.boundaryId, items.tableId);
                //LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);

            }
            else {
                if (mymap.hasLayer(data_layer[layerId])) {


                    mymap.removeLayer(data_layer[layerId]);
                    mymap.removeLayer(legend);
                    jQuery("p." + layerId).remove();
                    jQuery("#map_layer_" + layerId).remove();
                    mymap.removeLayer(mapLabels);
                    mapLabels = L.layerGroup();


                    //jQuery("#columnList_" + layerId).empty();

                    delete mapBindData[layerId];
                    delete userDefinedColorList[layerId];
                    delete data_layer[layerId];
                    delete data_layer_details[layerId];
                    updateMapLayerList(layerId);

                }

                //layerId
            }
            //LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);


        });

    function getTableColumnList(tableId, columnBindId) {
        var $data = $("#" + columnBindId);

             jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("GetTbleColumnList")",
                    dataType: "json",
                    data: { tableId: tableId },
                    before: jQuery("#busy-indicator").fadeIn(150),
                    success: function (datas) {

                        $data.append(
                    '<option value="" selected="selected">----- Select -----</option>');
                $.each(datas,
                    function (i, item) {
                        $("<option />").val(item.value).html(item.text).appendTo($data);
                    });

                    },
                    error: function(ex, status, error) {
                        //msg.init("error",
                        //    "Error... . . !",
                        //    "Failed to load Shape file. " + ex.responseText);
                    },
                 complete: jQuery("#busy-indicator").fadeOut(150)
             });

        }

    function getMapBindData(tableId, columnName, boundaryId, layerId) {
        mapBindData[layerId] = {};
        var dataList = {};
            jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("GetMapBindData")",
                    dataType: "json",
                data: { tableId: tableId, columnName: columnName, boundaryId: boundaryId },
                    before: jQuery("#busy-indicator").fadeIn(150),
                success: function (items) {

                    $.each(items, function (i, item) {

                        dataList[item.code] = new Map([["code", item.code], ["value", item.value]]);
                    });
                        //

                    //console.log(itemList)
                    //console.log(mapBindData);
                    //console.log(mapBindData[6][10420040]);
                    },
                    error: function(ex, status, error) {
                        //msg.init("error",
                        //    "Error... . . !",
                        //    "Failed to load Shape file. " + ex.responseText);
                },
                complete: function () {
                    mapBindData[layerId] = dataList;
                    //LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);
                    jQuery("#busy-indicator").fadeOut(150);
                }

             });
        }

        function map_reset() {
            location.reload(true);
        }

        function afterRender(result) {
            return result;
        }

        function afterExport(result) {
            return result;
        }

        function downloadMap(caption) {
            jQuery("#busy-indicator").fadeIn(150);

        var downloadOptions = {
            container: mymap._container,
            caption: {
                text: caption,
                font: '30px Arial',
                fillStyle: 'black',
                position: [100, 200]
            },
            exclude: ['.leaflet-control-zoom', '.leaflet-control-attribution'],
            include: ['.map_btns_content'],
            format: 'image/png',
            fileName: 'Map.png',
            afterRender: afterRender,
            afterExport: afterExport
        };
        var promise = mymap.downloadExport(downloadOptions);
        var data = promise.then(function (result) {
            return result;
        });
            jQuery("#busy-indicator").fadeOut(150);

        }


    function ChangeOpacity(value) {
            g_opacity = value; g_fillOpacity = value;
            jQuery("#busy-indicator").fadeIn(150);
            LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);
            jQuery("#busy-indicator").fadeOut(150);
        }



        jQuery("#DistCode").on("change",function (evt, adop) {
                var distCode = $("#DistCode").val(),
                    $upazila = $("#UpazCode");
                    codeValue = distCode;

                $upazila.empty();


                if (!distCode) {
                    mapAttribute(admin, cLat, cLong, mapZoom, codeValue);
                    return false;
                }


                for (var i = 0; i < indexLenght; i++) {
                    if (boundary.features[i].properties.dist_code == distCode) {
                        mapAttribute(admin, boundary.features[i].properties.CNT_LAT, boundary.features[i].properties.CNT_LONG, 9, distCode);
                        mapZoom = 9;
                        cLat = boundary.features[i].properties.CNT_LAT;
                        cLong = boundary.features[i].properties.CNT_LONG;
                        //mapHighLighter();
                        break;
                    }
                }


                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUpazilaList")",
                    dataType: "json",
                    data: { distCode: distCode },
                    before: $("#busy-indicator").fadeIn(150),
                    success: function(upazilas) {
                        $upazila.append(
                            '<option value="" selected="selected">----- upazila -----</option>');
                        $.each(upazilas,
                            function(i, upazila) {
                                $("<option />").val(upazila.value).html(upazila.text).appendTo($upazila);
                            });
                    },
                    error: function(ex, status, error) {
                        msg.init("error",
                            "Error... . . !",
                            "Failed to load upazila list. " + ex.responseText);
                    },
                    complete: $("#busy-indicator").fadeOut(150)
                });
                return false;
        });

        jQuery('.DivisionList').click(function ($) {

            if (jQuery(this).closest('.DivisionList').prev().find('input[type=checkbox]').prop('checked', true)) {




                if (jQuery("#" + this.id).prop("checked") == true) {
                    admin_code_list.push(jQuery("#" + this.id).val());

                } else {

                    var index = admin_code_list.indexOf(jQuery("#" + this.id).val());//get index
                    //remove div from the  array
                    admin_code_list.splice(index, 1);

                }


                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("GetDistrictList")",
                    dataType: "json",
                    data: { divisionList: admin_code_list },
                    before: jQuery("#busy-indicator").fadeIn(150),
                    success: function (disticts) {

                        jQuery("#selectedDistrictList").empty();

                        //console.log(disticts);
                        var li_list='';
                        jQuery.each(disticts, function (i, dist) {

                            //jQuery("#dist_" + dist.value).show();


                            li_list += '<li><a><input onclick="loadDistrict('+ dist.value+')" type="checkbox" id="dist_' + dist.value + '" value="' + dist.value + '" class="DistrictList"><label for="dist_' + dist.value+'">' + dist.text + '</label></a></li>';

                        });
                        jQuery("#selectedDistrictList").append(li_list);

                    },
                    error: function(ex, status, error) {
                        msg.init("error",
                            "Error... . . !",
                            "Failed to load upazila list. " + ex.responseText);
                    },
                    complete: jQuery("#busy-indicator").fadeOut(150)
                });

                jQuery("#busy-indicator").fadeIn(150);
                LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);
                jQuery("#busy-indicator").fadeOut(150);
            }

        });

    function loadDistrict(id) {

       // console.log("dist_"+id);
        admin_code_list = [];
        if (jQuery(this).closest('.DistrictList').prev().find('input[type=checkbox]').prop('checked', true)) {



            //if (jQuery("#" + this.id).prop("checked") == true) {
            //    admin_code_list.push(jQuery("#" + this.id).val());

            //} else {

            //    var index = admin_code_list.indexOf(jQuery("#" + this.id).val());//get index
            //    //remove div from the  array
            //    admin_code_list.splice(index, 1);

            //}


            if (jQuery("#dist_" + id).prop("checked") == true) {
                admin_code_list.push(jQuery("#dist_" + id).val());

            } else {

                var index = admin_code_list.indexOf(jQuery("#dist_" + id).val());//get index
                //remove div from the  array
                admin_code_list.splice(index, 1);

            }

             jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("GetUpazilaList")",
                    dataType: "json",
                 data: { upazilaList: admin_code_list },
                    before: jQuery("#busy-indicator").fadeIn(150),
                    success: function (disticts) {

                        jQuery("#selectedUpazilaList").empty();

                        //console.log(disticts);
                        var li_list='';
                        jQuery.each(disticts, function (i, dist) {

                            //jQuery("#dist_" + dist.value).show();


                            li_list += '<li><a><input onclick="loadUpazila(' + dist.value + ')" type="checkbox" id="upaz_' + dist.value + '" value="' + dist.value + '" class="UpazilaList"><label for="upaz_' + dist.value+'">' + dist.text + '</label></a></li>';

                        });
                        jQuery("#selectedUpazilaList").append(li_list);

                    },
                    error: function(ex, status, error) {
                        msg.init("error",
                            "Error... . . !",
                            "Failed to load upazila list. " + ex.responseText);
                    },
                    complete: jQuery("#busy-indicator").fadeOut(150)
                });



            //console.log(admin_code_list);

            jQuery("#busy-indicator").fadeIn(150);
            LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);
            jQuery("#busy-indicator").fadeOut(150);
        }
    }



    function loadUpazila(id) {

       // console.log("dist_"+id);
        admin_code_list = [];
        if (jQuery(this).closest('.UpazilaList').prev().find('input[type=checkbox]').prop('checked', true)) {





            if (jQuery("#upaz_" + id).prop("checked") == true) {
                admin_code_list.push(jQuery("#upaz_" + id).val());

            } else {

                var index = admin_code_list.indexOf(jQuery("#upaz_" + id).val());//get index
                //remove div from the  array
                admin_code_list.splice(index, 1);

            }



            jQuery("#busy-indicator").fadeIn(150);
            LayerShowHide(g_layerUid, g_layerId, g_filepath, g_mainAttDisName, g_mainAtt, g_attCode, g_cLat, g_cLong, g_firstAttDisName, g_firstAtt, g_layerName, g_layerTypeId, g_isLegendColor, g_legendcolorField, admin_code_list, g_opacity, g_fillOpacity, g_weight, g_color, g_boundaryId, g_tableId);
            jQuery("#busy-indicator").fadeOut(150);
        }
    }


        function DisplayDetailsInfoes(adminCodeForGetResult, name) {

            //alert(+adminCodeForGetResult+" "+name);
            //return;

            $("#modalWithDetailsInfo .modal-body").empty();
            var isShowAction = 1;


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("MapComponents", "Map")',
                    dataType: "html",
                    data: { adminCodeForGetResult: adminCodeForGetResult, indicatorId: name, isShowLayout: 0, isShowAction: isShowAction },
                    before: $("#busy-indicator").fadeIn(150),
                }).done(function (compInfo) {
                    //modal.init("Detail Information", compInfo, true, false);

                    $("#modalWithDetailsInfo .modal-body").append(compInfo);
                    $('#modalWithDetailsInfo').modal('show');

                    //$("#exampleModalScrollable").init
                }).fail(function (ex) {
                    modal.init("Map Components", "...", false, false);
                    msg.init("error", "Error... . . !", "Failed to load Map information. " + ex.error);
                }).always(function () {
                    $("#busy-indicator").fadeOut(150);
                });

            return false;
        }

        jQuery('#map_layer_draw').click(function ($) {

            if (jQuery('.leaflet-draw').is(':visible')) {
                jQuery('.leaflet-draw').slideUp();

            } else {
                jQuery('.leaflet-draw').slideDown();
            }
        });

        //jQuery('.map_layer_list').click(function ($) {

        //    alert(jQuery(this).closest('li').attr('id'));
        //});



        function setTopLayer(layerName) {

            //console.log(name);
            //console.log(data_layer_details[layerName].get('layerUid'));

            g_layerId = layerName;
            jQuery("#busy-indicator").fadeIn(150);
            LayerShowHide(data_layer_details[layerName].get('layerUid'), data_layer_details[layerName].get('layerId'), data_layer_details[layerName].get('filepath'), data_layer_details[layerName].get('mainAttDisName'), data_layer_details[layerName].get('mainAtt'), data_layer_details[layerName].get('attCode'), data_layer_details[layerName].get('cLat'), data_layer_details[layerName].get('cLong'), data_layer_details[layerName].get('firstAttDisName'), data_layer_details[layerName].get('firstAtt'), data_layer_details[layerName].get('layerName'), data_layer_details[layerName].get('layerTypeId'), data_layer_details[layerName].get('isLegendColor'), data_layer_details[layerName].get('legendcolorField'), admin_code_list, data_layer_details[layerName].get('opacity'), data_layer_details[layerName].get('fillOpacity'), data_layer_details[layerName].get('weight'), data_layer_details[layerName].get('color'), data_layer_details[layerName].get('boundaryId'), data_layer_details[layerName].get('tableId'));
            jQuery("#busy-indicator").fadeOut(150);

        }

        jQuery('#map_layer_data').click(function ($) {



            if (typeof layerData === "undefined") {
                window.Swal.fire({
                icon: "error",
                title: "Failed to load data: Please add a layer ",
                showConfirmButton: false, //true
                timer: 3000   // remove timer
                });
                return false;          
            }


            jQuery('#AttributeDiv').empty();
            var tableContent = '<div> <button class="btn btn-success"  onclick="showBundleAndMetaData(\'' + g_layerUid +'\')">View Metadata</button><hr/></div><table class="table table-centered table-nowrap mb-0">';
            for (var i = 0; i < layerData.features.length; i++) {

                if (i == 0) {
                    tableContent += '<tr>';
                    for (var j = 0; j < Object.getOwnPropertyNames(layerData.features[i].properties).length; j++) {
                        tableContent += '<th>' + Object.getOwnPropertyNames(layerData.features[i].properties)[j] + '</th>';
                    }
                    tableContent += '</tr>';
                }
                tableContent += '<tr>';
                for (var j = 0; j < Object.getOwnPropertyNames(layerData.features[i].properties).length; j++) {
                    tableContent += '<td>' + layerData.features[i].properties[Object.getOwnPropertyNames(layerData.features[i].properties)[j]] + '</td>';
                }
                tableContent += '</tr>';
            }
            tableContent += '</table>';
            jQuery('#AttributeDiv').append(tableContent);


            /*Object.getOwnPropertyNames(layerData.features[0].properties)*/

            if (jQuery('#AttributeDiv').is(':visible')) {
                jQuery('#AttributeDiv').slideUp();

            } else {
                jQuery('#AttributeDiv').slideDown();
            }
        });


        $("#AttributeDiv").draggable();

        function showBundleAndMetaData(layerId) {

            //alert(layerId);
            $("#modalWithDetailsInfo .modal-body").empty();
             $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetMetadata", "Map")',
                    dataType: "html",
                    data: { layerId: layerId  },
                    before: $("#busy-indicator").fadeIn(150),
                }).done(function (compInfo) {
                    
                    $("#modalWithDetailsInfo .modal-body").append(compInfo);
                    $('#modalWithDetailsInfo').modal('show');

                    //$("#exampleModalScrollable").init
                }).fail(function (ex) {
                    window.Swal.fire({
                        icon: "error",
                        title: "Failed to load meta-data. " + ex.responseText,
                        showConfirmButton: false, //true
                        timer: 3000   // remove timer
                    });
                }).always(function () {
                    $("#busy-indicator").fadeOut(150);
                });
            return false;
        }
    </script>

}

