@model IEnumerable<EcdsApp.Models.ThemeModels.ThemeLayerDetail>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
<style>
    h4{
       font-weight: 300;
    }
    .card-body{
        padding:  0.75rem 1.25rem;
    }
</style>
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="mb-0">List of Theme Layer</h4>                                                    
                                @if (ViewBag.IsPermittedToAddData == true)
                                {
                                    <a id="btnAddNewLayer" asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light mb-2 w-lg">Add New Layer</a>
                                }
                        </div>
                        
                    </div>
                </div>

                <div class="table-responsive mb-4">
                    <table class="table table-centered datatable nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                        <thead>
                            <tr class="bg-transparent">
                                <th>Action</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SubThemeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LayerName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LayerDisplayName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LayerFileName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LayerTypeId)
                                </th>
                                <th>Boundary</th>
                                <th>Table Name</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MainAttributeDisplayName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MainAttributeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MainAttributeCode)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.FileLatName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileLongName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LegendColorOptionId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LegendColorFieldName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LineColorCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FillColorCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Opacity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FillOpacity)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LineWeight)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @if (ViewBag.IsPermittedToEditData == true)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.LayerId" class="px-2 text-primary"><i class="uil-pen font-size-20"></i></a>
                                        
                                    }
                                    @if (ViewBag.IsPermittedToDeleteData == true)
                                    {
                                        <a href="#"class="px-2 text-primary" onclick="DeleteData(@item.LayerId)"><i class=" uil-trash-alt font-size-20"></i></a>
                                    }
                                    <a asp-action="Download" asp-route-id="@item.LayerId" class="btn btn-danger btn-rounded btn-soft-danger waves-effect waves-light">Download</a>
                                                                       
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubThemes.SubThemeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LayerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LayerDisplayName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.LayerFileName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThemeLayerTypes.LayerTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BoundaryInfo.BoundaryName)
                                </td>
                                <td>
                                    <a class="badge bg-pill bg-soft-info font-size-14" target="_blank" asp-controller="@item.TableInfo?.TableModelName" asp-action="Index" style="color: #191c1e">
                                        @Html.DisplayFor(modelItem => item.TableInfo.DisplayName)
                                    </a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MainAttributeDisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MainAttributeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MainAttributeCode)
                                </td>
                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileLatName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FileLongName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LegendColorOption.OptionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LegendColorFieldName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineColorCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FillColorCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Opacity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FillOpacity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LineWeight)
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        const DeleteData =(id)=>{
            console.log(id);
            swal.fire({
                icon: "error",
                title:"Are you sure ?",
                confirmButtonText: 'Delete',
                showCancelButton: true,
                text:"Once the data is deleted you can't retrieve it. Do you want to delete it ?"                
            }).then(res => {                
                if (res.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete")',
                        data:{id},
                        type: 'GET',
                        dataType: 'json', // added data type
                        success: function(res) {
                            console.log(res);
                            if (res =="Theme Layer deleted successfully."){
                                swal.fire({
                                    icon: "success",
                                    title:"Successful",
                                    confirmButtonText: 'Ok',
                                    text:res                
                                }).then(res => {                
                                  if (res.isConfirmed) { 
                                      window.location.reload();
                                  }
                                });
                            }
                            else{
                                swal.fire({
                                    icon: "error",
                                    title:"Error",
                                    confirmButtonText: 'Delete',
                                    text:res                
                                })
                            }
                            
                        }
                    });
                }                  
            })
        }
        $(document).ready(function () {

            $(".datatable").DataTable(), $(".dataTables_length select").addClass("form-select form-select-sm");
            
        });
    </script>
}
