@model IEnumerable<EcdsApp.Models.AdminBoundaryUpazila>
@{
    ViewData["Title"] = "Upazila List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">List of Upazila</h3>
                        <p class="card-title-desc">Upazila Details Information</p>
                        <a asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light w-lg">Add New Upazila</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive mt-2">
                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpazilaGeoCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpazilaName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpazilaNameBangla)
                                        </th>
                                        <th>
                                            District Name
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SortingOrder)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.UpazilaGeoCode" class="px-3 text-primary"><i class="uil-pen font-size-20"></i></a>
                                                @*<a asp-action="Delete" asp-route-id="@item.UpazilaGeoCode" class="btn btn-danger btn-rounded btn-soft-danger waves-effect waves-light">Delete</a>*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpazilaGeoCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpazilaName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpazilaNameBangla)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.District.DistrictName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SortingOrder)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datatable-buttons").DataTable({
                lengthChange: !1,
                buttons: ["copy", "excel", "pdf", "colvis"]
            }).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"), $(".dataTables_length select").addClass("form-select form-select-sm");
        });

    </script>
}
