@model EcdsApp.Models.ThemeModels.MetaDataDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>MetaDataDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeLayerDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThemeLayerDetails.LayerDisplayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.General)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.General)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completeness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completeness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistoryOfTheDataSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistoryOfTheDataSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurposeOfProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurposeOfProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfDataSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfDataSet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSetLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSetLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalInfoSourceForDataSet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalInfoSourceForDataSet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
